{% load i18n %}

<ul class="nav nav-list">
	<li id="side-menu-preparing" class="nav-header"><a href="{% url 'preparing' %}">{% trans "Preparing" %}</a></li>
	<li id="side-menu-learn-programming" ><a href="{% url 'learn-programming' %}">{% trans "Learn Programming" %}</a></li>
	<li id="side-menu-sample-questions" ><a href="{% url 'sample-questions' %}">{% trans "Sample Questions" %}</a></li>
	<!-- <li id="side-menu-rules" ><a href="{% url 'training' %}">{% trans "Programming" %}</a></li> -->
</ul>
