{% extends "nl/base.html" %}

{% block content%}

 <!-- main -->
		
<h2>Finale 2012<img src="/static/pictures/2012/final-floris.jpg" class="withframe float-right"></h2>

<p>In de finale van de Belgische Informatica-olympiade namen uiteindelijk 44 leerlingen van het secundair onderwijs het tegen elkaar op, op woensdag 14 maart 2012 in Namen. Wij feliciteren alle deelnemers van harte, en in het bijzonder Floris Kint, de winnaar van deze editie. De finale bestond uit een proef op papier en een proef aan de computer. De vragen zijn te downloaden voor het <a href="/static/downloads/OI-2012-final-sec-paper-nl.pdf">schriftelijk gedeelte</a> en het <a href="/static/downloads/OI-2012-final-sec-comp-nl.pdf">deel aan de computer.</a>.</p>

<p>Bijna 3000&nbsp;&euro; aan prijzen werd verdeeld onder de beste finalisten. De prijzenpot werd aangeboden door onze sponsors: IBM, IBBT, Microsoft, Vers l'Avenir en Plantyn. Onder de prijzen vonden we onder andere een Lenovo Thinkpad laptop, een iPad 3, een Windows phone, Arduino starter kits (programmeerbare microcontrollers), en talrijke boeken.</p>

<p>Er werd besloten om de 13 eerste kandidaten, waarvan 8 Franstaligen en 5 Nederlandstaligen, te weerhouden om deel uit te maken van de trainingspool die als doel heeft om een Belgische delegatie te vormen voor de Internationale Olympiade Informatica, die in 2012 in Italië plaatsvond.</p>

<p>Hieronder staat het officiële eindklassement en de behaalde scores van de deelnemers aan de finale van 2012.</p>


<img class="withframe" src="/static/pictures/2012/final-group.jpg" alt="Finalisten van de Belgische Informatica-olympiade 2012" title="Finalisten van de Belgische Informatica-olympiade 2012"> 

<h3>Resultaten</h3>




<table>
<tbody><tr><th>#</th><th>Naam</th><th>School</th><th><img title="Score schriftelijk deel" class="icons" src="/static/icons/pen.png"></th><th><img title="Score computergedeelte" class="icons" src="/static/icons/keyboard.png"></th><th><img title="Totaalscore" class="icons" src="/static/icons/sum.png"></th></tr>
	
<tr>
	<td>1</td>
	<td nowrap="nowrap">Kint Floris</td>
	<td>Onze-Lieve-Vrouwecollege Oostende, Oostende — 5e</td>
	<td>100%</td>
	<td>53%</td>
	<td><strong>84%</strong></td>
</tr>
	
<tr>
	<td>2</td>
	<td nowrap="nowrap">Lecomte Victor</td>
	<td>Lycée Martin V, Louvain-la-Neuve — 5e</td>
	<td>100%</td>
	<td>47%</td>
	<td><strong>82%</strong></td>
</tr>
	
<tr>
	<td>3</td>
	<td nowrap="nowrap">Scheers Jan</td>
	<td>Sint-Albertuscollege, Heverlee — 6e</td>
	<td>100%</td>
	<td>33%</td>
	<td><strong>77%</strong></td>
</tr>
	
<tr>
	<td>4</td>
	<td nowrap="nowrap">Vernier Benoît</td>
	<td>École Européenne de Bruxelles III, Bruxelles — 5e</td>
	<td>100%</td>
	<td>33%</td>
	<td><strong>77%</strong></td>
</tr>
	
<tr>
	<td>5</td>
	<td nowrap="nowrap">Smetz Colin</td>
	<td>Institut Saint-Joseph, Ciney — 6e</td>
	<td>100%</td>
	<td>33%</td>
	<td><strong>77%</strong></td>
</tr>
	
<tr>
	<td>6</td>
	<td nowrap="nowrap">David Mathieu</td>
	<td>Sint-Victor Alsemberg, Alsemberg — 5e</td>
	<td>100%</td>
	<td>33%</td>
	<td><strong>77%</strong></td>
</tr>
	
<tr>
	<td>7</td>
	<td nowrap="nowrap">Xhonneux Mathieu</td>
	<td>Collège Notre-Dame de Gemmenich, Gemmenich — 5e</td>
	<td>97%</td>
	<td>33%</td>
	<td><strong>75%</strong></td>
</tr>
	
<tr>
	<td>8</td>
	<td nowrap="nowrap">Bossaert Jens</td>
	<td>Sint-Vincentiuscollege Ieper, Ieper — 6e</td>
	<td>100%</td>
	<td>23%</td>
	<td><strong>74%</strong></td>
</tr>
	
<tr>
	<td>9</td>
	<td nowrap="nowrap">Meynaert Nathan</td>
	<td>Collège Saint Barthélemy, Liège — 5e</td>
	<td>94%</td>
	<td>33%</td>
	<td><strong>73%</strong></td>
</tr>
	
<tr>
	<td>10</td>
	<td nowrap="nowrap">Pazdera Corentin</td>
	<td>Institut Provincial d’enseignement Secondaire, Wavre — 5e</td>
	<td>91%</td>
	<td>33%</td>
	<td><strong>71%</strong></td>
</tr>
	
<tr>
	<td>11</td>
	<td nowrap="nowrap">Legat Antoine</td>
	<td>Lycée Martin V, Louvain-la-Neuve — 5e</td>
	<td>86%</td>
	<td>40%</td>
	<td><strong>70%</strong></td>
</tr>
	
<tr>
	<td>12</td>
	<td nowrap="nowrap">Oostvogels Jonathan</td>
	<td>Vita et Pax college, Schoten — 5e</td>
	<td>83%</td>
	<td>40%</td>
	<td><strong>68%</strong></td>
</tr>
	
<tr>
	<td>13</td>
	<td nowrap="nowrap">Vandecasteele Hannes</td>
	<td>Onze-Lieve-Vrouwecollege Oostende, Oostende — 5e</td>
	<td>77%</td>
	<td>47%</td>
	<td><strong>67%</strong></td>
</tr>
	
<tr>
	<td>14</td>
	<td nowrap="nowrap">Deplasse Victor</td>
	<td>Collège du Christ-Roi, Ottignies — 6e</td>
	<td>83%</td>
	<td>33%</td>
	<td><strong>66%</strong></td>
</tr>
	
<tr>
	<td>15</td>
	<td nowrap="nowrap">Lambein Xavier</td>
	<td>Athénée Royal de Rixensart, Rixensart — 6e</td>
	<td>81%</td>
	<td>33%</td>
	<td><strong>65%</strong></td>
</tr>
	
<tr>
	<td>16</td>
	<td nowrap="nowrap">Maskens Oswald</td>
	<td>Sint-Jan-Brechmanscollege, Brussel — 6e</td>
	<td>77%</td>
	<td>40%</td>
	<td><strong>64%</strong></td>
</tr>
	
<tr>
	<td>17</td>
	<td nowrap="nowrap">Daloze Florian</td>
	<td>Institut de la Providence de Champion, Champion — 6e</td>
	<td>80%</td>
	<td>33%</td>
	<td><strong>64%</strong></td>
</tr>
	
<tr>
	<td>18</td>
	<td nowrap="nowrap">Najar Ali</td>
	<td>Lycée Mater Dei, Bruxelles — 6e</td>
	<td>80%</td>
	<td>33%</td>
	<td><strong>64%</strong></td>
</tr>
	
<tr>
	<td>19</td>
	<td nowrap="nowrap">Dethise Arnaud</td>
	<td>Collège Saint-Etienne, Court-Saint-Etienne — 6e</td>
	<td>77%</td>
	<td>33%</td>
	<td><strong>62%</strong></td>
</tr>
	
<tr>
	<td>20</td>
	<td nowrap="nowrap">Eliat-Eliat Jacob</td>
	<td>Collège Saint-Etienne, Court-Saint-Etienne — 6e</td>
	<td>77%</td>
	<td>33%</td>
	<td><strong>62%</strong></td>
</tr>
	
<tr>
	<td>21</td>
	<td nowrap="nowrap">Brode-Roger Ghislain</td>
	<td>Lycée Français Jean Monnet de Bruxelles, Uccle — 5e</td>
	<td>59%</td>
	<td>40%</td>
	<td><strong>52%</strong></td>
</tr>
	
<tr>
	<td>22</td>
	<td nowrap="nowrap">Legat Guillaume</td>
	<td>Lycée Martin V, Louvain-la-Neuve — 4e</td>
	<td>60%</td>
	<td>33%</td>
	<td><strong>51%</strong></td>
</tr>
	
<tr>
	<td>23</td>
	<td nowrap="nowrap">Clarembeau Alexis</td>
	<td>Athénée Royal François Bovesse, Namur — 5e</td>
	<td>65%</td>
	<td>23%</td>
	<td><strong>51%</strong></td>
</tr>
	
<tr>
	<td>24</td>
	<td nowrap="nowrap">De Wachter Jonathan</td>
	<td>Enseignement de Promotion et de Formation Continue, Bruxelles — 6e</td>
	<td>63%</td>
	<td>23%</td>
	<td><strong>49%</strong></td>
</tr>
	
<tr>
	<td>25</td>
	<td nowrap="nowrap">Vanmarcke Cedric</td>
	<td>Don Bosco Instituut, Haacht — 5e</td>
	<td>57%</td>
	<td>33%</td>
	<td><strong>49%</strong></td>
</tr>
	
<tr>
	<td>26</td>
	<td nowrap="nowrap">Geuten Louis</td>
	<td>Collège St Servais, Namur — 4e</td>
	<td>55%</td>
	<td>33%</td>
	<td><strong>47%</strong></td>
</tr>
	
<tr>
	<td>27</td>
	<td nowrap="nowrap">Devillers Hugo</td>
	<td>Athénée Royal d'Arlon, Arlon — 5e</td>
	<td>54%</td>
	<td>33%</td>
	<td><strong>47%</strong></td>
</tr>
	
<tr>
	<td>28</td>
	<td nowrap="nowrap">Vermeulen Jan</td>
	<td>Stella-Matutinacollege (SMC), Lede — 6e</td>
	<td>51%</td>
	<td>33%</td>
	<td><strong>45%</strong></td>
</tr>
	
<tr>
	<td>29</td>
	<td nowrap="nowrap">Wingelaar Ivo</td>
	<td>Atheneum Plus, Hasselt — 6e</td>
	<td>48%</td>
	<td>33%</td>
	<td><strong>43%</strong></td>
</tr>
	
<tr>
	<td>30</td>
	<td nowrap="nowrap">Vanderbusse Jens</td>
	<td>Pleinschool Kortrijk, Kortrijk — 6e</td>
	<td>63%</td>
	<td>0%</td>
	<td><strong>42%</strong></td>
</tr>
	
<tr>
	<td>31</td>
	<td nowrap="nowrap">Foucart Guillaume</td>
	<td>Lycée Martin V, Louvain-la-Neuve — 7e</td>
	<td>46%</td>
	<td>33%</td>
	<td><strong>41%</strong></td>
</tr>
	
<tr>
	<td>32</td>
	<td nowrap="nowrap">Tran Tri</td>
	<td>Lyceum Martha Somers, Brussel — 5e</td>
	<td>60%</td>
	<td>0%</td>
	<td><strong>40%</strong></td>
</tr>
	
<tr>
	<td>33</td>
	<td nowrap="nowrap">De Backer Thomas</td>
	<td>OLVP Bornem, Bornem — 5e</td>
	<td>57%</td>
	<td>0%</td>
	<td><strong>38%</strong></td>
</tr>
	
<tr>
	<td>33</td>
	<td nowrap="nowrap">Sevenans Anton</td>
	<td>Sint-Michielscollege Schoten, Schoten — 6e</td>
	<td>57%</td>
	<td>0%</td>
	<td><strong>38%</strong></td>
</tr>
	
<tr>
	<td>35</td>
	<td nowrap="nowrap">De Vaere Piet</td>
	<td>Sint-Andreaslyceum Sint-Kruis, Brugge — 5e</td>
	<td>40%</td>
	<td>33%</td>
	<td><strong>37%</strong></td>
</tr>
	
<tr>
	<td>36</td>
	<td nowrap="nowrap">Iovino Thomas</td>
	<td>Athénée Royal de Florennes, Florennes — 6e</td>
	<td>55%</td>
	<td>0%</td>
	<td><strong>36%</strong></td>
</tr>
	
<tr>
	<td>37</td>
	<td nowrap="nowrap">Derzelle Maxime</td>
	<td>C.E.S. Saint-Joseph, Chimay — 5e</td>
	<td>43%</td>
	<td>23%</td>
	<td><strong>36%</strong></td>
</tr>
	
<tr>
	<td>38</td>
	<td nowrap="nowrap">Yernaux Gonzague</td>
	<td>Collège Saint-Michel, Bruxelles — 6e</td>
	<td>51%</td>
	<td>0%</td>
	<td><strong>34%</strong></td>
</tr>
	
<tr>
	<td>39</td>
	<td nowrap="nowrap">Willems Danny</td>
	<td>Athénée Royal René Magritte, Lessines — 6e</td>
	<td>49%</td>
	<td>0%</td>
	<td><strong>32%</strong></td>
</tr>
	
<tr>
	<td>40</td>
	<td nowrap="nowrap">Daubechies Julien</td>
	<td>École secondaire des Frères (Institut Notre Dame), Tournai — 6e</td>
	<td>46%</td>
	<td>0%</td>
	<td><strong>30%</strong></td>
</tr>
	
<tr>
	<td>41</td>
	<td nowrap="nowrap">Feys Niels</td>
	<td>Sint-Vincentiuscollege Ieper, Ieper — 6e</td>
	<td>43%</td>
	<td>0%</td>
	<td><strong>28%</strong></td>
</tr>
	
<tr>
	<td>41</td>
	<td nowrap="nowrap">Landuyt Sam</td>
	<td>Pleinschool Kortrijk, Kortrijk — 6e</td>
	<td>43%</td>
	<td>0%</td>
	<td><strong>28%</strong></td>
</tr>
	
<tr>
	<td>43</td>
	<td nowrap="nowrap">Janssens Ruben</td>
	<td>Sint-Michielscollege Schoten, Schoten — 3e</td>
	<td>37%</td>
	<td>0%</td>
	<td><strong>24%</strong></td>
</tr>
	
<tr>
	<td>44</td>
	<td nowrap="nowrap">Cabuena John</td>
	<td>KTA Brakel, Brakel — 6e</td>
	<td>31%</td>
	<td>0%</td>
	<td><strong>20%</strong></td>
</tr>
	
<tr>
	<td>44</td>
	<td nowrap="nowrap">De Beck Xavier</td>
	<td>C.E.S. Saint-Joseph, Chimay — 5e</td>
	<td>31%</td>
	<td>0%</td>
	<td><strong>20%</strong></td>
</tr>
	
</tbody></table>



		

{% endblock %}
