{% extends "nl/base.html" %}

{% block content%}
<h2>be-OI 2012</h2>

<p>In 2012 vond de derde opeenvolgende editie van de Belgische Informatica-olympiade plaats. Nieuw was dat er dit jaar geen wedstrijd voor het hoger onderwijs meer werd georganiseerd, opdat we ons op het middelbaar onderwijs zouden kunnen concentreren. Bovendien werd de selectie voor de internationale olympiade gevoerd via een veel uitgebreider trainingsprogramma.</p>

<p>137 deelnemers waren ingeschreven voor de halve finale die plaatsvond op woensdag 1 februari 2012. Deze halve finale was volledig schriftelijk en werd gelijktijdig georganiseerd op verschillende universiteiten over het hele land. 51 deelnemers werden uiteindelijk geselecteerd voor de finale. <a href="{% url archives-2012-semifinal LANGUAGE_CODE %}">Meer details over de halve finale is hier beschikbaar</a>.</p>

<p>De finale vond plaats te Namen op woensdag 14 maart 2012 en bevatte zoals gebruikelijk een schriftelijk gedeelte en een programmeerproef aan de computer, beide ongeveer 1u30 lang. Meer details en het eindklassement zijn beschikbaar <a href="{% url archives-2012-final LANGUAGE_CODE %}"> op de detailpagina over de finale 2012</a>. </p>


<img class="withframe" src="/static/pictures/2012/final-group.jpg" alt="Finalisten van de Belgische Informatica-olympiade 2012" title="Finalisten van de Belgische Informatica-olympiade 2012" /> 

<p>De best geplaatsten van de nationale wedstrijd waren :</p>

<ol>
	<li>Floris Kint, Collège Notre-Dame d'Ostende ;</li>
	<li>Victor Lecomte, Lycée Martin V (Louvain-la-Neuve) ;</li>
	<li>Jan Scheers, Sint-Albertuscollege (Heverlee) ;</li>
	<li>Benoît Vernier, École Européenne de Bruxelles III (Bruxelles).</li>
</ol>

<p>De eerste 13 finalisten werden uiteindelijk weerhouden om deel uit te maken van de trainingspool voor de internationale olympiade.</p>

<p>Na een grondige vorming inclusief on-line oefening, en een laatste test in omstandigheden gelijkaardig aan de internationale proef, werden de volgende leerlingen geselecteerd om deel uit te maken van <a href="{% url archives-2012-ioi LANGUAGE_CODE %}">de Belgische delegatie op de International Olympiad in Informatics</a>, die plaatsvond in Sirmione en Montichiari in Italië :</p>
	
	<ul>
		<li>Floris Kint</li>
		<li>Victor Lecomte</li>
		<li>Benoît Vernier</li>
		<li>Hannes Vandecasteele</li>
	</ul>
	
<p>Zij werden begeleid door Damien Leroy en Joachim Ganseman, leden van het organiserend comité van be-OI.</p>

<h3>Sponsors</h3>

<p>Deze Olympiade was slechts mogelijk dankzij de ondersteuning van verschillende sponsors. Wij danken hen voor hun steun.</p>

<p><a href="http://www.ibm.com/be/fr/" target="_blank"><img src="/static/logos/ibm_logo-large.jpg" width="350" height="136" /></a>
	<a href="http://www.ibbt.be" target="_blank"><img src="/static/logos/ibbt-logo.jpg" width="300"/></a><a href="http://www.ond.vlaanderen.be/" target="_blank"><img src="/static/logos/vlaams-overheid-logo.png" width="350" height="103" /></a></p>

{% endblock %}
