{% extends "base.html" %}
{% load i18n %}

{% block js %}
<script type="text/javascript">
$("#menu-about").addClass("active");
</script>
{% endblock js %}


{% block title %}Over ons{% endblock %}
{% block subtitle %}De ploeg achter de hele organisatie ...{% endblock %}

{% block content %}

<section>
  <h2>De vzw</h2>
  
  <p>De <strong>Belgische Informatica-olympiade</strong> wordt georganiseerd door de <em>vzw beOI</em>.
  De vereniging is verantwoordelijk voor de inhoud van deze website. De contactgegevens van de vereniging zijn:</p>
  <address>
    Belgische Informatica-olympiade - Olympiade belge d’Informatique (beOI) VZW<br />
    Rue du Grand Hornu 1 bus 207<br />
    1348 Louvain-la-Neuve (België)<br />
    N° KBO: 0849.738.707
  </address>
  <p> U kan ons ook via e-mail contacteren op <a href="mailto:info@be-oi.be">info@be-oi.be</a></p> 
</section>

<section>
  <h2>Team</h2>
  
  <p>Een wedstrijd als deze organiseren brengt stapels werk met zich mee voor vele personen, het hele jaar door ten belope van honderden uren. Al deze medewerkers zijn vrijwilligers of leden van Universiteiten en Hogescholen in België die opleidingen informatica aanbieden. </p>

  <h3>Lijst van leden van de VZW</h3>
  
  <ul >
    <li><strong>Mohammed  Benjelloun</strong> (UMons)</li>
    <li><strong>Jean  Cardinal</strong> (ULB)</li>
    <li><strong>Sébastien Combéfis</strong> (UCLouvain)</li>
    <li><strong>Kris  Coolsaet</strong> (UGent) </li>
    <li><strong>Joachim Ganseman</strong> (UAntwerpen) &mdash; bestuurslid, verantwoordelijke sponsoring en vertalingen</li>
    <li><strong>Gilles  Geeraerts</strong> (ULB) &mdash; bestuurslid, coördinator beOI</li>
    <li><strong>Fabian  Gilson</strong> (UNamur) &mdash; bestuurslid, verantwoordelijke sponsoring</li>
    <li><strong>Bart Jacobs</strong> (KULeuven)</li>
    <li><strong>Joris Klerkx</strong> (KULeuven)</li>
    <li><strong>Damien Leroy</strong> &mdash; bestuurslid, coördinator internationaal, verantwoordelijke website</li>
    <li><strong>Frank Neven</strong> (UHasselt)</li>
    <li><strong>Charles Pecheur</strong> (UCLouvain)</li>
    <li><strong>Cédric  Peeters</strong> (HERS)</li>
    <li><strong>Chantal Poncin</strong> (UCLouvain)</li>
    <li><strong>Bruno Quoitin</strong> (UMons)</li>
    <li><strong>Tom Van Cutsem</strong> (VUB)</li>
    <li><strong>Ragnhild Van Der Straeten</strong> (VUB)</li>
    <li><strong>Stijn Vansummeren</strong> (ULB)</li>
  </ul>

</section>


<section>
  <h2>Credits, dankwoord etc.</h2>

  <ul>
    <!-- <li>Le logo a été designé bénévolement par </li> -->
   <li>Het design van deze website is gebouwd op het framework <a href="http://twitter.github.com/bootstrap/">Twitter Bootstrap</a>.</li>
   <li>De code van deze (publieke) website en onze werkdocumenten zijn gratis beschikbaar op <a href="https://github.com/">GitHub</a>.</li>
   <li>De achtergrond van onze hoofdpagina (http://www.be-oi.be/) is afgeleid van de afbeelding <a href="http://www.flickr.com/photos/generated/84253301/in/pool-_aa/">substrate print</a> gepubliceerd door <a href="http://www.flickr.com/photos/generated/">jared</a> onder licentie CC BY 2.0.</li>
   <li>Verschillende iconen gebruikt op de wedstrijdpagina zijn afkomstig uit de collectie <a href="http://tympanus.net/codrops/2012/10/02/freebie-application-icon-set-png-psd-csh/">http://tympanus.net/codrops/2012/10/02/freebie-application-icon-set-png-psd-csh/</a> van Matt Gentile (onder licentie CC BY 3.0).</li>
  </ul>

</section>





{% endblock content %}
