{% extends "nl/base.html" %}

{% block content%}
<h2>Kalender</h2>

<p>Deze officiële kalender bevat de belangrijkste data van de Belgische Informatica-olympiade 2013.</p>

<dl>
	<dt>21 januari 2013</dt>
	<dd><p>Uiterste inschrijvingsdatum.</p></dd>

	<dt>Woensdag 23 januari 2013</dt>
	<dd><p>Halve finale in de regionale centra.</p></dd>

	<dt>11-15 februari 2013</dt>
	<dd><p>Optionele cursus algoritmiek en programmeren, toegankelijk voor iedereen, 
		gedurende 2 dagen in de Krokusvakantie (exacte plaats en data nog te bepalen).</p></dd>

	<dt>Zaterdag 9 maart 2013</dt>
	<dd><p>Nationale finale en proclamatie (plaats nog te bepalen)</p></dd>

	<dt>1-12 april 2013</dt>
	<dd><p>Grondige opleiding algoritmiek voor de geselecteerden in de IOI pool (data en plaats te bepalen).</p></dd>

	<dt>6-13 juli 2013</dt>
	<dd><p>25<sup>ste</sup> International Olympiad in Informatics (IOI) te Brisbane, Australië ({{ "http://www.ioi2013.org/"|urlize }}).</p></dd>
</dl>

{% endblock %}
