{% extends "base.html" %}
{% load i18n %}

{% block leftmenu %}{% include "menu_contest.html" %}{% endblock %}

{% block js %}
<script type="text/javascript">
$("#menu-contest").addClass("active");
$("#side-menu-contest").addClass("active");
</script>
{% endblock js %}

{% block title %}Wedstrijd{% endblock %}
{% block subtitle %}Van logica tot programmeren, <br/>van de Belgische tot de Internationale wedstrijd.{% endblock %}

{% block content %}
<section style="padding-top:30px;">
  <img src="/static/pictures/2011/finale1.jpg" class="pull-right img-polaroid" width="175"/><p class="lead">De Informatica-olympiade is een wedstrijd die een in logica, algoritmiek en programmeren. Ze staat open voor <strong>leerlingen uit het secundair onderwijs</strong> (alle jaren, alle richtingen). De nationale wedstrijd bestaat uit een halve finale die plaatsvindt in regionale centra verspreid over het land, en een finale. Na een intensieve training worden de beste kandidaten weerhouden om deel te nemen aan de International Olympiad in Informatics.</p>
</section>

<div class="row">
<section class="span9">
  <h2>Have finale <small>op papier, <br/> 27 november 2013</small></h2> 
  <img src="/static/img/semifinal.png" class="span4 pull-left" style="padding-right:20px;padding-bottom:20px;"/>
  <p>De halve finale is de eerste stap van de wedstrijd. Ze vindt tegelijkertijd plaats op <a href="{% url semifinal-places LANGUAGE_CODE %}">10 locaties</a> verspreid over het land.</p>

   <p>Deze ronde is volledig <strong>op papier</strong>. Je kan je verwachten aan <strong> vragen over logica, algoritmiek en eenvoudige programmeerproblemen</strong>. Kijk als voorbeeld zeker eens naar de <a href="{% url sample-questions LANGUAGE_CODE %}">vragen van de voorgaande jaren</a>. Je mag op de vragen antwoorden in het Nederlands, Frans, Engels, in pseudo-code of in een van de toegelaten programmeertalen: C, C++, Pascal, Java, Python en PHP. De beste deelnemers, maximum 60, stoten door naar de finale.</p>

  <p><i class="icon-calendar"></i>&nbsp;<strong>Woensdag 27 november 2013, van 14h30 tot 17h30</strong></p>

  {% if REGISTRATION_OPEN %}<p><a class="btn btn-success btn-large" href="{% url registration LANGUAGE_CODE %}">Schrijf je in vòòr {{REGISTRATION_DEADLINE|date:"DATE_FORMAT"}}!</a></p>{% endif %}
</section>
</div>

<!-- <div class="alert alert-info">
Een (optionele) tweedaagse cursus "introductie tot algoritmiek en programmeren" wordt normaalgezien tijdens de krokusvakantie aangeboden aan iedereen die de finale haalt. Meer informatie wordt later nog bezorgd aan iedereen die in aanmerking komt. </div>
-->
 
<div class="row">
<section class="span9">
  <h2>Finale <small>proef op papier en aan de computer <br/> XXX januari 2014, (Leuven)</small></h2> 
  <img src="/static/img/final.png" class="span4 pull-left" style="padding-right:20px;padding-bottom:20px;"/>
  <p>De finale 2014 vindt plaats op zaterdag XXX januari in <strong>(Leuven)</strong>. Ze bestaat uit <strong>een deel op papier en een deel aan de computer</strong>. Het papieren gedeelte zal in de voormiddag doorgaan, en in de namiddag volgt dan het deel aan de computer. Onmiddellijk nadien zal de proclamatie plaatsvinden.</p>

  <p>Het papieren gedeelte is van hetzelfde type als de halve finale, alleen korter en van een iets moeilijker niveau. Het deel aan de computer bestaat uit verschillende problemen die de deelnemers moeten oplossen door een algoritme te programmeren in een van de toegestane programmeertalen. Deze programma's moeten vaak zo optimaal mogelijk geprogrammeerd zijn om het probleem binnen de gegeven tijdslimiet en geheugenlimiet op te kunnen lossen.</p>

  <p><i class="icon-calendar"></i>&nbsp;<strong>Zaterdag XXX januari 2014 (hele dag)</strong></p>
</section>
</div>

<h3>Training en selectie voor de Internationale Olympiade</h3>
<p>Een twaalftal laureaten van de nationale finale zal uitgenodigd worden om deel uit te maken van de trainingspool voor de Internationale Olympiade. De training bestaat uit verschillende dagen gezamenlijke lessen, maar vooral uit het deelnemen aan andere online wedstrijden op verschillende internationale websites. Na deze training wordt een laatste selectieproef georganiseerd voor de actiefste leden van de trainingspool. De twee beste Franstaligen en de twee beste Nederlandstaligen worden zo geselecteerd om de Belgische delegatie op de Internationale Olympiade te vormen.</p> 


<div class="row">
<section class="span9">
  <h2>International Olympiad in Informatics <br/><small>13-20 juli 2014, Taipei (Taiwan)</small></h2> 
  <img src="/static/img/ioi.png" class="span4 pull-left" style="padding-right:20px;padding-bottom:20px;"/>

  <p>De<strong> International Olympiad in Informatics</strong> (IOI) is een internationale programmeerwedstrijd voor leerlingen van het secundair onderwijs, en vindt elk jaar plaats in een ander land. In 2014 mag een Belgische ploeg naar <strong>Taiwan</strong> afreizen om deel te nemen aan de 26e editie. Ongeveer 300 deelnemers uit meer dan 80 landen zijn aanwezig voor een week van competitie maar ook van nieuwe ontmoetingen en vrienschappelijke uitwisseling.</p>

  <p>Informatica is een van de 8 wetenschapsdisciplines waarin internationaal erkende olympiades worden georganiseerd, naast wiskunde, biologie, chemie, fysica, aardrijkskunde, astronomie en taalkunde. België nam eenmalig deel in 1992, en nadien in <a href="{% url archives-2010 LANGUAGE_CODE %}#IOI">2010</a>, <a href="{% url archives-2011 LANGUAGE_CODE %}#IOI">2011</a>, <a href="{% url archives-2012 LANGUAGE_CODE %}#IOI">2012</a> en <a href="{% url archives-2013 LANGUAGE_CODE %}#IOI">2013</a>. Er werden vijf medailles, <strong>één zilveren en vier bronzen</strong>, naar huis gebracht van de laatste drie edities.</p>

  <p><i class="icon-calendar"></i>&nbsp;<strong>13 tot 20 juli 2014</strong></p>
</section>
</div>


{% endblock content %}
