{% extends "base.html" %}

{% block leftmenu %}{% include "menu_contest.html" %}{% endblock %}

{% block js %}
<script type="text/javascript">
$("#menu-contest").addClass("active");
$("#side-menu-faq").addClass("active");
</script>
{% endblock js %}

{% block title %}Veel gestelde vragen{% endblock %}
{% block subtitle %}Antwoorden op de vragen die we het vaakst in onze mailbox krijgen{% endblock %}



{% block content %}

<div class="alert alert-success">
<strong>Een andere vraag ?</strong> Stel ze via email naar <a href="mailto:info@be-oi.be">info@be-oi.be</a>.
</div>


{% if categories %}
<h3>Thema's</h3>
<ul>
	{% for category in categories %}
	<li><a href="#cat{{category.id}}">{{ category.name_nl }}</a></li>
	{% endfor %}
</ul>
{% else %}
    <p><strong>Geen vragen gevonden.</strong></p>
{% endif %}

<hr />

{% for category in categories %}
	<h3><a name="cat{{category.id}}"></a>{{ category.name_nl }}</h3>
<dl>
	{% for question in category.questions %}
		<dt>{{ question.question }}</dt>
		<dd><p>{{ question.answer }}</p></dd>
	{% endfor %}
</dl>
{% endfor %}

{% endblock content %}
