{% extends "nl/base.html" %}

{% block content%}
<h2>Finale<img src="/static/pictures/2012/final-floris.jpg" class="withframe float-right" /></h2>

<p>In de finale van de Belgische Informatica-olympiade namen uiteindelijk 44 leerlingen van het secundair onderwijs het tegen elkaar op, op woensdag 14 maart 2012 in Namen. Wij feliciteren alle deelnemers van harte, en in het bijzonder Floris Kint, de winnaar van deze editie. De finale bestond uit een proef op papier en een proef aan de computer. De vragen zijn te downloaden voor het <a href="/static/downloads/OI-2012-final-sec-paper-nl.pdf">schriftelijk gedeelte</a> en het <a href="/static/downloads/OI-2012-final-sec-comp-nl.pdf">deel aan de computer.</a>.</p>

<p>Bijna 3000&nbsp;&euro; aan prijzen werd verdeeld onder de beste finalisten. De prijzenpot werd aangeboden door onze sponsors: IBM, IBBT, Microsoft, Vers l'Avenir en Plantyn. Onder de prijzen vonden we onder andere een Lenovo Thinkpad laptop, een iPad 3, een Windows phone, Arduino starter kits (programmeerbare microcontrollers), en talrijke boeken.</p>

<p>Er werd besloten om de 13 eerste kandidaten, waarvan 8 Franstaligen en 5 Nederlandstaligen, te weerhouden om deel uit te maken van de trainingspool die als doel heeft om een Belgische delegatie te vormen voor de Internationale Olympiade Informatica, die dit jaar in Italië plaatsvindt.</p>

<p>Hieronder staat het officiële eindklassement en de behaalde scores van de deelnemers aan de finale 2012. Het <a href="{% url final-rules LANGUAGE_CODE %}">reglement van de finale</a> is eveneens nog steeds beschikbaar.</p>

<img class="withframe" src="/static/pictures/2012/final-group.jpg" alt="Finalisten van de Belgische Informatica-olympiade 2012" title="Finalisten van de Belgische Informatica-olympiade 2012" />

<h3>Resultaten</h3>

{# <img class="withframe" src="/static/pictures/2011/group_sec.jpg" /> #}

<table>
<tr><th>#</th><th>Naam</th><th>School</th><th><img title="Score schriftelijke proef" class="icons" src="/static/icons/pen.png" /></th><th><img title="Score computerproef" class="icons" src="/static/icons/keyboard.png" /></th><th><img title="Totaalscore" class="icons" src="/static/icons/sum.png" /></th></tr>
	{% for finalist in object_list %}
<tr>
	<td>{{ finalist.rank }}</td>
	<td nowrap="nowrap">{{finalist.contestant.surname}} {{finalist.contestant.firstname}}</td>
	<td>{{ finalist.contestant.school.name }}, {{ finalist.contestant.school.city }} &mdash; {{ finalist.contestant.year_study }}e</td>
	<td>{{ finalist.score_written }}%</td>
	<td>{{ finalist.score_computer }}%</td>
	<td><strong>{{ finalist.total }}%</strong></td>
</tr>
	{% endfor %}
</table>



{% endblock %}


