{% extends "nl/base.html" %}

{% block content%}
<h2>Finale<img src="/static/pictures/2010/oi2010-machine.jpg" width="350" height="231" class="withframe float-right" /></h2>

<p>De finale vindt plaats op woensdag 14 maart 2012. Naast een schriftelijke test is er nu ook een test aan de computer. De finale wordt georganiseerd door de <a href="http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=Rue+Grandgagnage+21,+Namur,+Belgique&aq=0&oq=21+rue+gran&sll=50.468104,4.859734&sspn=0.014915,0.042272&vpsrc=0&ie=UTF8&hq=&hnear=Rue+Grandgagnage+21,+Namur+5000+Namur,+R%C3%A9gion+Wallonne,+Belgium&ll=50.465796,4.858897&spn=0.007458,0.021136&t=m&z=16&iwloc=A&layer=c&cbll=50.465981,4.857578&panoid=KfOaUPVEZaD4-dXNXMDYtw&cbp=12,93.26,,0,15.92">Faculteit Informatica</a,> FUNDP, te Namen.</p>

<p>De proef start om 14u30 en zal eindigen om 17u30. Deelnemers worden verwacht ter plaatse te zijn om 14u15.</p>

<p>De proef aan de computer zal plaatsvinden op een UNIX-gebaseerd terminal systeem. De programmeeromgeving is gelijkaardig aan vorig jaar. Er zal enkel een teksteditor met speciale shortcuts voor compileren en testen beschikbaar zijn.</p>

<p>Enkele hints over het soort vragen dat je kan verwachten op de finale staan in het reglement hieronder opgesomd. Aarzel ook niet om de <a href="{% url sample-questions LANGUAGE_CODE %}">vragen van vorige jaren</a> te raadplegen.</p>

<h3>Reglement van de proef</h3>

{% include "nl/includes/final_rules.html" %}

{% endblock %}
