{% extends "nl/base.html" %}

{% block content%}
<h2>Finale<img src="/static/pictures/2010/oi2010-machine.jpg" width="350" height="231" class="withframe float-right" /></h2>

<p>De finale vindt plaats op <strong>zaterdag 9 maart</strong> te Louvain-la-Neuve. Naast een schriftelijke test is er nu ook een test aan de computer. We beginnen 's ochtends met de schriftelijke proef, na de lunch is gaan we verder met het computergedeelte, en onmiddellijk nadien zal de proclamatie volgen en ken je het resultaat.</p>

<p>Het reglement en de praktische informatie voor de finale volgt binnenkort.</p>

<!-- <p>De proef start om 14u30 en zal eindigen om 17u30. Deelnemers worden verwacht ter plaatse te zijn om 14u15.</p> -->

<!-- <p>De proef aan de computer zal plaatsvinden op een UNIX-gebaseerd terminal systeem. De programmeeromgeving is gelijkaardig aan vorig jaar. Er zal enkel een teksteditor met speciale shortcuts voor compileren en testen beschikbaar zijn.</p> -->

<!-- <p>Enkele hints over het soort vragen dat je kan verwachten op de finale staan in het reglement hieronder opgesomd. Aarzel ook niet om de <a href="{% url sample-questions LANGUAGE_CODE %}">vragen van vorige jaren</a> te raadplegen.</p> -->

<!-- <p> De proclamatie van de resultaten gaat door op zaterdag 17 maart om 15u, ook in de Faculté d'Informatique de Namur. Daarna zijn alle deelnemers welkom op een drink.</p> -->

<!--
<h3>Reglement van de proef</h3>
-->


{% endblock %}
