{% extends "nl/base.html" %}

{% block content%}

<h2>International Olympiad in Informatics 2013</h2>

<p>De <b>International Olympiad in Informatics</b> (IOI) is een internationale informaticawedstrijd voor leerlingen uit het middelbaar onderwijs. Ze vindt elk jaar plaats in een ander land. Na Canada, Thailand en Italië zal <a href="http://www.ioi2013.org/" target="_blank">Australië</a> het gastland zijn voor de wedstrijd in 2013. Meer dan 300 leerlingen uit meer dan 80 landen komen samen in de zomer voor een week van competitie, maar ook van ontmoetingen en uitwisselingen.</p>

<p>Informatica is een van de 8 wetenschapsdisciplines waarvoor internationaal erkende olympiades worden georganiseerd, naast wiskunde, biologie, chemie, fysica, aardrijkskunde, astronomie en linguïstiek. België nam eenmalig deel in 1992, maar pikte de draad weer op in <a href="{% url archives-2010-ioi LANGUAGE_CODE %}">2010</a>, <a href="{% url archives-2011-ioi LANGUAGE_CODE %}">2011</a> en <a href="{% url archives-2012-ioi LANGUAGE_CODE %}">2012</a>. De twee laatste edities waren alvast goed voor 3 medailles in totaal, waarvan 1 zilveren en 2 bronzen.<p>

<p>De deelnemers aan de Internationale Olympiade zullen worden geselecteerd, na bijkomende stages en proeven, uit een trainingspool die wordt samengesteld uit de laureaten van de finale van de Belgische Olympiade. </p>



<!--

<p><img src="/static/pictures/2012/ioi-all.jpg" width="300" class="withframe float-right" title="De Belgische delegatie op de International Olympiad in Informatics 2012" />
	Voor het derde opeenvolgende jaar nam in 2012 een Belgische delegatie deel aan de International Olympiad in Informatics (IOI), dit keer georganiseerd in Sirmione en Montichiari in Italië. België neemt dit jaar een zilveren en een bronzen medaille mee naar huis, dankzij de prestaties van respectievelijk Floris Kint (Onze-Lieve-Vrouwecollege, Oostende) en Victor Lecomte (Lycée Martin V, Louvain-La-Neuve). Dit is veruit het beste resultaat van onze driejarige deelname.</p>

<p class="center"><img src="/static/logos/ioi2012.jpg" /></p>

<p>De Belgische delegatie bestond dit jaar uit Floris Kint, Victor Lecomte (beide namen al deel aan de IOI 2011), Hannes Vandecasteele en Benoît Vernier. Ze werden begeleid door Damien Leroy en Joachim Ganseman. De 4 deelnemers zitten allen in het 5e jaar van de humaniora en werden gekozen na een intensieve training en een zware selectie onder de best gerangschikten van de Belgische Informatica-olympiade. <img src="/static/pictures/2012/ioi-medals.jpg" width="300" class="withframe float-right" alt="De Belgische delegatie op de International Olympiad in Informatics" title="Floris en Victor met hun medailles" /></p>

<p>Op deze 24ste IOI namen 310 deelnemers uit 82 landen van over de hele wereld het tegen elkaar op, waaronder 4 Belgen. Op een totaal van 600 punten en 310 deelnemers haalden zij de volgende resultaten
</p>
<ul>
    <li>77ste: Floris Kint - 237pts - zilveren medaille</li>
    <li>143ste: Victor Lecomte - 169pts - bronzen medaille</li>
    <li>256ste: Hannes Vandecasteele - 61pts</li>
    <li>257ste: Benoît Vernier - 60pts</li>
</ul>

<p>Denk je dat je beter kan? <a href="/static/downloads/IOI2012-Questions-nl.zip">Download de 6 vragen</a> en probeer ze op te lossen in minder dan 10 uur!</p>

<p>Na onze eerste bronzen medaille in 2011, zijn deze twee nieuwe medailles een uitstekend resultaat voor een derde deelname van een relatief bescheiden land als België.</p>

<p><img class="withframe" src="/static/pictures/2012/ioi-long.jpg" title="De Belgische delegatie op de International Olympiad in Informatics" width="680"  /></p>

<h4>Met de steun van IBM, IBBT en de Vlaamse Overheid</h4>

<p><a href="http://www.ibm.com/be/nl/" target="_blank"><img src="/static/logos/ibm_logo-large.jpg" width="350" height="136" /></a>
	<a href="http://www.ibbt.be" target="_blank"><img src="/static/logos/ibbt-logo.jpg" width="300"/></a><a href="http://www.ond.vlaanderen.be/" target="_blank"><img src="/static/logos/vlaams-overheid-logo.png" width="350" height="103" /></a></p>

-->


{% endblock %}

