{% extends "base.html" %}
{% load i18n %}

{% block leftmenu %}{% include "menu_contest.html" %}{% endblock %}

{% block js %}
<script type="text/javascript">
$("#menu-contest").addClass("active");
$("#side-menu-rules").addClass("active");
</script>
{% endblock js %}

{% block title %}Reglement{% endblock %}
{% block subtitle %}van de Belgische nationale wedstrijd{% endblock %}

{% block content%}
<ol>
	<li>De Belgische Informatica-olympiade (beOI) is een wedstrijd in programmeren, algoritmiek en logica, georganiseerd door de "<emph>Belgische Informatica-olympiade - Olympiade belge d’Informatique (beOI) vzw</emph>", hierna "de vereniging" genoemd. Deze vereniging bestaat voornamelijk uit onderwijzend personeel van de Universiteiten en Hogescholen in België. De vereniging beheert alle aspecten van de wedstrijd. </li>
	
	<li>Door hun inschrijving aanvaarden de kandidaten alle bepalingen van dit wedstrijdreglement.</li>

	<li>De officiële talen van de wedstrijd zijn het Nederlands en het Frans. De deelnemers moeten bij inschrijving de taal kiezen waarin ze aan de wedstrijd willen deelnemen.</li>

	<li>De wedstrijd is voorbehouden aan leerlingen die ingeschreven zijn in het secundair onderwijs in de maanden september tot december voorafgaand aan de wedstrijd. Zij moeten de Belgische nationaliteit bezitten of, indien dit niet het geval is, ingeschreven zijn in een school gevestigd in België. De kandidaten moeten eveneens minder dan 21 jaar zijn op de 1<sup>e</sup> juli van het jaar waarin de proef plaatsvindt. Bewijs van de leeftijd van de kandidaat en van de inschrijving in zijn of haar school kunnen (via email) opgevraagd worden door de organisatoren van de wedstrijd.</li>

	<li>De beOI verloopt in twee stappen: een halve finale en een finale. De data waarop de proeven plaatsvinden zijn op de on-line kalender gepubliceerd.</li>

	<li>De vragen worden door de de vereniging opgesteld. De halve finale is volledig schriftelijk. De finale omvat twee soorten vragen:

		<ol>
			<li>De eerste soort vragen zijn oefeningen die schriftelijk opgelost moeten worden. De antwoorden mogen in pseudo-code of in één van de toegestane programmeertalen gegeven worden.</li>
				
			<li>De tweede soort vragen zijn oefeningen die aan de computer opgelost moeten worden, door een programma te schrijven in één van de toegestane programmeertalen.</li>
		</ol>
			
	De officieel toegestane programmeertalen zijn: C, C++, Pascal, Java, Python en PHP.</li>
			
	<li>De vereniging is belast met het verbeteren van de antwoorden van de kandidaten, het maken van een rangschikking van de kandidaten, en het aanduiden van de laureaten.</li>
	
	<li>Maximum 50 kandidaten met de beste resultaten uit de halve finale, genomen over alle regionale centra heen, zullen deelnemen aan de finale.</li>

	<li>Volgend op de finale, wordt een eindklassement van de finalisten opgesteld volgens hun score in de finale. In het geval van een gelijk resultaat, wordt het uur waarop hun uiteindelijke score werd behaald op het gedeelte aan de computer gebruikt om de rangschikking te bepalen. De resultaten worden bekendgemaakt bij de proclamatie en online gepubliceerd. De best gerangschikte finalisten ontvangen prijzen.
	</li>	
		
	<li>Minstens 10 deelnemers aan de wedstrijd, waarvan minstens 3 Nederlandstaligen en minstens 3 Franstaligen, worden gekozen uit de best geplaatste finalisten om deel uit te maken van de trainingspool naar aanloop van de Internationale Olympiade (IOI). De namen van de geselecteerden worden bekendgemaakt tijdens de proclamatie. Het aantal leden van de trainingspool wordt slechts bekendgemaakt tijdens de proclamatie en wordt bepaald door de vereniging. Een kandidaat die weigert deel uit te maken van de trainingspool kan door een andere finalist(e) vervangen worden.</li>

	<li>Enkele maanden voor het begin van de Internationale Olympiade in Informatica (IOI), kiest de vereniging 4 deelnemers uit de IOI trainingspool om deel uit te maken van de Belgische nationale delegatie op de IOI. De selectieprocedure voor deze kandidaten zal door de vereniging worden gedefinieerd met het oog op het maximaliseren van de winstkansen voor de Belgische delegatie op de IOI.
	</li>

	<li>Door hun inschrijving geven de kandidaten aan de vereniging het recht om foto's van de wedstrijd waarin zij afgebeeld worden te gebruiken. Dit gebruik zal zich beperken tot de promotie en de illustratie van de wedstrijd.
	
	<li>In alle gevallen niet voorzien in bovenstaand reglement wordt de beslissing genomen door de vereniging. Tegen deze beslissingen is geen beroep mogelijk.</li>

</ol>
{% endblock %}
