{% extends "nl/base.html" %}

{% block content%}
<h2>Algemeen Reglement</h2>

<ol>
	<li>De Belgische Informatica-olympiade (beOI) is een wedstrijd in programmeren, algoritmiek en logica, georganiseerd door de "<emph>Belgische Informatica-olympiade - Olympiade belge d’Informatique (beOI) vzw</emph>"</li>

	<li>De beOI wedstrijd wordt georganiseerd door de leden van deze vzw, voornamelijk bestaand uit onderwijzend personeel van de universiteiten en hogescholen van België. Deze leden beheren alle aspecten van de wedstrijd. </li>
	
	<li>Door hun inschrijving aanvaarden de kandidaten alle bepalingen van dit wedstrijdreglement.</li>

	<li>De officiële talen van de beOI zijn het Nederlands en het Frans. De deelnemers moeten bij inschrijving de taal kiezen waarin ze aan de wedstrijd willen deelnemen.</li>

	<li>De wedstrijd is voorbehoudn aan leerlingen die ingeschreven zijn in het secundair onderwijs in de maanden september tot december voorafgaand aan de wedstrijd. Zij moeten de Belgische nationaliteit bezitten of, indien dit niet het geval is, ingeschreven zijn in een school gevestigd in België. De kandidaten moeten eveneens minder dan 21 jaar zijn op de 1<sup>e</sup> juli van het jaar waarin de proef plaatsvindt. Bewijs van de leeftijd van de kandidaat en van de inschrijving in zijn of haar school kunnen (via email) opgevraagd worden door de organisatoren van de wedstrijd.</li>

	<li>De beOI verloopt in twee rondes: halve finale en finale. De data van deze wedstrijden zijn door het CCOI vastgesteld en in de kalender gepubliceerd. De praktische organisatie van deze twee rondes wordt in specifieke reglementen beschreven.</li>

	<li>De vragen worden door de leden van de beOI vzw opgesteld. De halve finale is volledig schriftelijk. De finale omvat twee soorten vragen:

		<ol>
			<li>De eerste soort vragen zijn oefeningen die schriftelijk opgelost moeten worden. De antwoorden mogen in pseudo-code of in één van de toegestane programmeertalen gegeven worden.</li>
				
			<li>De tweede soort vragen zijn oefeningen die aan de computer opgelost moeten worden, door een programma te schrijven in één van de toegestane programmeertalen.</li>
		</ol>
			
	De officieel toegestane programmeertalen zijn: Java, C, C++, Pascal, Python en PHP.</li>
			
	<li>De leden van de beOI vzw zijn belast met het verbeteren van de antwoorden van de kandidaten, het maken van een rangschikking van de kandidaten, en het aanduiden van de laureaten.</li>
	

	<li>Maximum 60 kandidaten met de beste resultaten uit de halve finale, genomen over alle regionale centra heen, zullen deelnemen aan de finale.</li>

		
	<li>Minstens 10 deelnemers aan de wedstrijd, waarvan minstens 3 Nederlandstaligen en minstens 3 Franstaligen, worden gekozen uit de best geplaatste finalisten om deel uit te maken van de trainingspool naar aanloop van de internationale olympiade. De namen van de geselecteerden worden bekendgemaakt tijdens de proclamatie. Het aantal leden van de trainingspool wordt slechts bekendgemaakt tijdens de proclamatie en zal beslist worden door de leden van de beOI vzw. Een kandidaat die weigert deel te nemen aan de IOI pool kan door een andere finalist(e) vervangen worden.

	<li>Enkele maanden voor het begin van de International Olympiad in Informatics (IOI), kiezen de leden van beOI vzw 4 deelnemers uit de trainingspool om deel uit te maken van de Belgische nationale delegatie op de IOI. De selectieprocedure voor deze kandidaten zal door de beOI vzw worden gedefinieerd met het oog op het maximaliseren van de winstkansen voor de Belgische delegatie op de IOI.
	</li>

	<li>In alle gevallen niet voorzien in bovenstaand reglement wordt de beslissing genomen door de leden van beOI vzw. </li>
     </ol>


{% endblock %}
