{% extends "base.html" %}
{% load i18n %}

{% block leftmenu %}{% include "menu_training.html" %}{% endblock %}

{% block js %}
<script type="text/javascript">
$("#menu-training").addClass("active");
$("#side-menu-sample-questions").addClass("active");
</script>
{% endblock js %}

{% block header %}
<h1>Voorbeeldvragen</h1>
<p>Opgaven van de voorbije jaren </p>
{% endblock header %}


{% block content%}
<p>Om te kunnen oefenen voor deze wedstrijd, kan je hier voorbeeldvragen downloaden, waarvan sommigen met een mogelijke oplossing of gedetailleerde uitleg.  Aarzel ook niet om het document <a href="/static/downloads/OI-2010-NL-intro-algo.pdf">Introductie tot de algoritmiek</a> eens door te nemen, dat je met behulp van gedetailleerde voorbeelden laat kennismaken met het gestructureerd oplossen van problemen. </p>


<p>Vragen-archief</p>

<ul>
	<li><b>Halve finale 2014</b>: <a href="/static/downloads/OI-2014-halve-finale.pdf">Vragen</a> &mdash; <a href="/static/downloads/OI-2014-halve-finale-sol.pdf">Oplossingen</a></li>
	<li>Finale 2013: <a href="/static/downloads/OI-2013-final-paper-nl.pdf">Vragen papier</a> - <a href="/static/downloads/OI-2013-final-paper-nl-sol.pdf">Oplossingen papier</a> - <a href="/static/downloads/OI-2013-final-comp-nl.pdf">Vragen computer</a> - <a href="/static/downloads/OI-2013-final-comp-data.zip">skeletcode, input- en outputbestanden van het computergedeelte</a></li>
	<li>Halve finale 2013: <a href="/static/downloads/OI-2013-halve-finale.pdf">Vragen</a> &mdash; <a href="/static/downloads/OI-2013-halve-finale-sol.pdf">Oplossingen</a></li>
	<li>Vragen finale 2012: <a href="/static/downloads/OI-2012-final-sec-paper-nl.pdf">Papier</a> &mdash; <a href="/static/downloads/OI-2012-final-sec-comp-nl.pdf">Computer</a></li>
	<li>Halve finale 2012: <a href="/static/downloads/OI-2012-nl-halve-finale.pdf">Vragen</a> &mdash; <a href="/static/downloads/OI-2012-halve-finale-sol.pdf">Oplossingen</a></li>
	<li>Vragen finales 2011 (papier) : <a href="/static/downloads/OI-2011-final-sec-paper-nl.pdf">Secundair</a> &mdash; <a href="/static/downloads/OI-2011-final-high-paper-nl.pdf">Hoger</a></li>
	<li>Vragen finales 2011 (computer): <a href="/static/downloads/OI-2011-final-sec-comp-nl.pdf">Secundair</a> &mdash; <a href="/static/downloads/OI-2011-final-high-comp-nl.pdf">Hoger</a> </li>
	<li>Vragen halve finales 2011 : <a href="/static/downloads/OI-2011-halve-finales-secundair-nl.pdf">Secundair</a> &mdash; <a href="/static/downloads/OI-2011-halve-finales-hoger-nl.pdf">Hoger</a> &mdash; <a href="/static/downloads/OI-2011-halve-finales-oplossing.pdf">Oplossingen</a></li>
	<li>Vragen finales 2010 (papier) : <a href="/static/downloads/OI-2010-NL-finale-papier-secundair.pdf">Secundair</a> &mdash; <a href="/static/downloads/OI-2010-NL-finale-papier-hoger.pdf">Hoger</a></li>	
	<li>Vragen finales 2010 (computer) : <a href="/static/downloads/OI-2010-NL-finale-machine-secundair.pdf">Secundair</a> &mdash; <a href="/static/downloads/OI-2010-NL-finale-machine-hoger.pdf">Hoger</a></li>
	<li>Vragen halve finales 2010 : <a href="/static/downloads/OI-2010-NL-halve-finale-secundair.pdf">Secundair</a> &mdash; <a href="/static/downloads/OI-2010-NL-halve-finale-hoger.pdf">Hoger</a></li>	
</ul>


{% endblock %}
