{% extends "nl/base.html" %}

{% block content%}
<h2>Halve finale<img src="/static/pictures/2010/oi2010-finals-sheet.jpg" width="350" height="231" class="withframe float-right" /></h2>

<p>De halve finale vindt plaats op woensdag 23 januari 2013 van 14u30 tot 17u30 in de verschillende <a href="{% url semifinal-places LANGUAGE_CODE %}">regionale centra</a> verspreid over het land. Je kan er aan deelnemen door je zelf <a href="{% url registration LANGUAGE_CODE %}">in te schrijven</a> op deze site.</p>

<p>Deze proef duurt 3 uur en is volledig schriftelijk. Je kan je verwachten aan vragen over logica, algoritmiek en eenvoudige programmeerproblemen. Voorbeelden hiervan kan je vinden tussen de <a href="{% url sample-questions LANGUAGE_CODE %}">vragen van de vorige jaren</a>.</p>

<p>Je mag op de vragen antwoorden in het Nederlands, Frans, Engels, in pseudo-code of in een van de toegestane programmeertalen: C, C++, Pascal, Java, Python en PHP. Het is niet toegestaan functies te gebruiken die niet voorkomen in de standaardbibliotheken van deze talen.

<p>Wij raden je aan om je in te schrijven in een regionaal centrum in het taalgebied van de taal waarin je de proef wil maken. De toezichters van een centrum zijn niet verplicht om een andere taal te spreken dan de lokale taal van dat centrum. Als je je toch wil inschrijven in een centrum in een ander taalgebied, gelieve dan de organisatoren te herinneren aan jouw voorkeurstaal voor de proef. 
</p>

<p>Veel succes!</p>


{% endblock %}

