{% extends "base.html" %}
{% load i18n %}

{% block js %}
<script type="text/javascript">
$("#menu-sponsors").addClass("active");
$("#side-menu-sponsors").addClass("active");
</script>
{% endblock js %}

{% block leftmenu %}{% include "menu_press-sponsors.html" %}{% endblock %}

{% block title %}Sponsors{% endblock %}
{% block subtitle %}{% endblock %}

{% block content %}


<p class="lead">De Belgische Informatica-olympiade is enkel mogelijk dankzij de ondersteuning van onze sponsors. Heeft u interesse om te sponsoren of om een prijs aan te bieden? Bekijk dan onze <a href="/static/downloads/OI-2014-sponsoring-en.pdf">sponsoringsbrochure</a> en contacteer ons op <a href="mailto:sponsors@be-oi.be">sponsors@be-oi.be</a> .
</p>

<section>
  <h2>Sponsors 2013</h2>

  <h4>Premium Sponsor</h4>  
  <a href="http://www.ibm.com/be/fr/" target="_blank"><img src="/static/logos/ibm_logo-large.jpg" height="136" width="350"  style="padding:10px;"></a>

  <h4>Standaard Sponsors</h4>
  <a href="http://www.lavenir.net/" target="_blank"><img src="/static/logos/lavenir-2012.jpg" width="250"  style="padding:10px;"></a>
  <a href="http://www.iminds.be" target="_blank"><img src="/static/logos/iMinds-logo.png" width="250"  style="padding:10px;"></a>

</section>
<section>
  <h2>Partners en Institutionele Steun</h2>

  <div class="row">
    <div class="span9">
      <p>Met de steun van de Vlaamse Gemeenschap en de Fédération Wallonie-Bruxelles</p>
      <a href="http://www.ond.vlaanderen.be/" target="_blank"><img src="/static/logos/vlaams-overheid-logo.png" width="250" style="padding:10px;"/></a>
      <a href="http://www.federation-wallonie-bruxelles.be" target="_blank"><img src="/static/logos/cfwb.jpg" width="250" style="padding:10px;"/></a>
    </div>
  </div> 

  <img src="/static/logos/ua-logo.jpg" width="100"  style="padding:10px;"/>
  <img src="/static/logos/ugent-logo.png" width="100" style="padding:10px;"/>
  <img src="/static/logos/umons-logo.png" width="100" style="padding:10px;" />
  <img src="/static/logos/unamur-logo.jpg" width="100" style="padding:10px;"/>
  <img src="/static/logos/ucl-logo.png" width="100"  style="padding:10px;"/>
  <img src="/static/logos/ulg-logo.png" width="100" style="padding:10px;"/>
  <img src="/static/logos/ulb-logo.png" width="100" style="padding:10px;"/>
  <img src="/static/logos/kul-logo.jpg" width="100"  style="padding:10px;" />
  <img src="/static/logos/vub-logo.jpg" width="100"  style="padding:10px;"/>
  <img src="/static/logos/uhasselt-logo.png" width="100" style="padding:10px;" />
  <img src="/static/logos/hers-logo.png" width="100" style="padding:10px;" />
</section>

{% endblock content %}
