{% extends "base.html" %}
{% load i18n %}

{% block js %}
<script type="text/javascript">
$("#menu-sponsors").addClass("active");
$("#side-menu-membership").addClass("active");
</script>
{% endblock js %}

{% block leftmenu %}{% include "menu_press-sponsors.html" %}{% endblock %}

{% block title %}Membres cotisants{% endblock %}
{% block subtitle %}{% endblock %}

{% block content %}

<p class="lead">L'Olympiade belge d'Informatique est une ASBL dont une partie des membres forme le <a href="{% url 'about' %}">comité</a> et l'autre, composée d'entreprises publiques et privées, supporte l'association par une cotisation annuelle. Ces entreprises sont, entre contre-partie, associées à l'organisation de la beOI, apparaissent sur le site web et participent à l'assemblée générale.</p>

<section>
  <h2>Entreprises actuellement membres</h2>
  <div style="img">{% include "members.html" %}</div>
</section>


<section>
  <h2>Devenir membre</h2>

  <p>Notre association recherche actuellement des entreprises publiques ou semi-publiques actives dans le domaine de l'informatique (enseignement, recherche, ...) afin de soutenir notre projet.</p>

  <p>Si votre entreprise souhaite devenir membre de l'ASBL, prenez contact avec nous par e-mail à <a href="mailto:info@be-oi.be">info@be-oi.be</a>. La cotisation annuelle s'élève actuellement à 250 euros. L'association (représentée par ses administrateurs) se réserve le droit de refuser un membre pour une raison qui lui est propre.</p>
  
</section>

{% endblock content %}
