{% extends "base.html" %}
{% load i18n %}

{% block leftmenu %}{% include "menu_contest.html" %}{% endblock %}

{% block js %}
<script type="text/javascript">
$("#menu-contest").addClass("active");
$("#side-menu-registration").addClass("active");
</script>
{% endblock js %}

{% block title %}Inscription{% endblock %}
{% block subtitle %}Gratuit, facile et rapide, mais tant à gagner.{% endblock %}

{% block content %}

<div class="alert alert-success">
	<p>Félicitation, vous êtes inscrit aux Olympiades belges d'Informatique 2014! Rendez-vous le 19 novembre 2014 dans votre centre régional.</p>
{% if object %}
	<p>Vous avez choisi <i>{{object}}</i> comme centre pour votre demi-finale. Ce centre nous a donné les informations suivantes concernant le lieu exact de l'épreuve. Si nécessaire, vous recevrez davantage d'informations par e-mail.</p>
	<div style="padding-left:50px;">{{object.details|safe}}</div>
	{% endif %}

	<p>Si vous souhaitez modifier votre inscription, contactez-nous par e-mail à <a href="mailto:inscription@be-oi.be">inscription@be-oi.be</a>.</p>
</div>

<script type="text/javascript">
function getURLParameter(name) {
    return decodeURI(
        (RegExp(name + '=' + '(.+?)(&|$)').exec(location.search)||[,null])[1]
    );
}
var token =  getURLParameter('token');
var sharedURL = "http://be-oi.be{% url 'home' %}?t=" + token;
$("#sharetoken").html(token);
$("#linktoshare").html(sharedURL);
$(".fb-like").attr("data-href",sharedURL);
$(".twitter-share-button").attr("data-url", sharedURL);

!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
</script>


{% endblock %}
