{% extends "base.html" %}
{% load i18n %}

{% block leftmenu %}{% include "menu_contest.html" %}{% endblock %}

{% block js %}
<script type="text/javascript">
$("#menu-contest").addClass("active");
$("#side-menu-rules").addClass("active");
</script>
{% endblock js %}

{% block title %}Règlement{% endblock %}
{% block subtitle %}de l'épreuve nationale belge{% endblock %}

{% block content%}
<ol>
	<li>L'Olympiade belge d'Informatique (beOI) est une compétition de programmation, d'algorithmique et de logique organisée par la "<emph>Belgische Informatica-olympiade - Olympiade belge d’Informatique (beOI) ASBL</emph>", dénomée "l'association" dans la suite. Cette association est composée principalement des corps enseignants d'Universités et Hautes-Écoles de Belgique. L'association est chargée de gérer tous les aspects liés au concours.</li>
	
	<li>En s'inscrivant aux beOI, les candidats acceptent intégralement le présent règlement.</li>

	<li>Les langues officielles du concours beOI sont le français et le néerlandais. Les participants doivent choisir à l'inscription la langue dans laquelle ils souhaitent concourir.</li>

	<li>Le concours est réservé aux élèves inscrits dans l'enseignement secondaire au mois de septembre précédant l'épreuve. Les participants doivent, par ailleurs, avoir la nationalité belge ou être inscrits dans un établissement scolaire établi en Belgique. Les candidats doivent également avoir moins de 21 ans au 1<sup>er</sup> juillet de l'année au cours de laquelle a lieu l'épreuve. Des preuves de l'âge du participant ainsi que de son inscription dans l'établissement scolaire pourront être demandées (par e-mail) aux participants par les organisateurs du concours.</li>

	<li>Le concours beOI est organisé en deux étapes&nbsp;: une demi-finale et une finale. Les dates des deux épreuves sont indiquées sur le calendrier en ligne. </li>

	<li>Le concours national en est entièrement gratuit, ainsi que les éventuels cours et le suivi pour les finalistes. </li>

	<li>La demi-finale se déroule intégralement sur papier. Pour les questions nécessitant d'écrire du code, la réponse pourra être donnée en pseudo-code ou dans l'un des languages suivants: C++, Java, C, Pascal, Python, PHP, (Visual) Basic ou Javascript.</li>

	<li>La finale dure une journée entière. Elle contient exclusivement des exercices à résoudre sur ordinateur sous forme d'un programme écrit dans un des langages de programmation suivant: C++ ou Java. Lors de cette épreuve, la qualité du programme fournit n'est pas évaluée mais uniquement son efficacité, c'est-à-dire le temps pris par le programme pour résoudre des problèmes de plus en plus grand.</li>
	
	<li>Entre la demi-finale et la finale, un suivi sera organisé afin de préparer les finalistes au mieux pour la finale. Ce suivi inclut des cours de C++ ou Java, d'algorithmique et de préparation aux concours de programmation. Par ailleurs, un suivi en ligne sera effectué, incluant des concours internationaux en ligne auxquels participer. Certaines parties de cette formation peuvent être obligatoires.</li> 
 	
 	<li>L'association est chargée de rédiger et de corriger les réponses des candidats, d'établir le classement des candidats et de désigner les lauréats.</li>

 	<li>Lors de la demi-finale, un bonus est attribué au participant selon l'année du secondaire dans laquelle il se trouve. Ce bonus est calculé comme suit: 5e secondaire 5\%, 4e secondaire 10\%, 3e secondaire ou moins 15\%.</li> 

	<li>Entre 20 et 30 finalistes parmi les candidats de la demi-finale ayant obtenu les meilleurs scores (incluant le bonus du point précédent) sont sélectionnés pour la finale, tout centre régional confondu. La liste de ces finalistes sera définie par l'association et rendue publique dans les semaines suivant la demi-finale.</li>

	<li>Suite à la finale, un classement est établi parmi les finalistes selon leur score. En cas d'égalité, le temps après lequel leur score final a été atteint est pris en compte. Si le concours se déroule en plusieurs parties, la somme de ces temps sera considéré. Les résultats seront annoncés lors de la proclamation et affichés en ligne. Les meilleurs candidats de la finale recevront des prix. 
	</li>

  <li>La finale permet également de consistuer la délégation qui représentera la Belgique à la prochaine olympiade internationale. Les deux meilleurs francophones et les deux meilleurs néérlandophones à cette finale seront invités, lors de la proclamation, à faire partie de la délégation belge. En cas de désistement de l'un des candidats, celui-ci sera remplacé par le finaliste suivant, de même langue, selon le classement de la finale.</li>

  <li>Pour les participants sélectionnés pour l'Olympiade Internationale (IOI), le transport est couvert par l'association. Par ailleurs, la nourriture, le logement et les activités lors de l'olympiade sont couverts par l'IOI.</li>

	<li>En s'inscrivant au concours, le participant accepte que l'association utilise des photos du concours dans lesquelles il apparait. Celles-ci ne pourront être utilisées que pour la promotion du concours et l'illustration de l'épreuve.</li>

	<li>Tout point non prévu par le présent règlement sera tranché par l'association. </li>

 </ol>
{% endblock %}
