{% extends "fr/base.html" %}

{% block content%}
<h2>Calendrier</h2>

<p>Le calendrier officiel suivant reprend les dates clés des Olympiades d'Informatiques belges 2013.</p>

<dl>

	<dt>21 janvier 2013</dt>
	<dd><p>Date limite pour les inscriptions.</p></dd>

	<dt>Mercredi 23 janvier 2013</dt>
	<dd><p>Demi-finale dans les centres régionaux.</p></dd>

	<dt>11-15 février 2013</dt>
	<dd><p>Formation algorithmique (optionnelle) de 2 jours durant les vacances de Carnaval (dates et lieux exactes à préciser).</p></dd>

	<dt>Samedi 9 mars 2013</dt>
	<dd><p>Finale nationale et proclamation à Louvain-la-Neuve.</p></dd>

	<dt>1-12 avril 2013</dt>
	<dd><p>Formation algorithmique approfondie pour les candidats du pool IOI (dates et lieux à préciser).</p></dd>

	<dt>6-13 juillet 2013</dt>
	<dd><p>25<sup>iemes</sup> Olympiade Internationale d'Informatique (IOI) à Brisbane, Australie ({{ "http://www.ioi2013.org/"|urlize }}).</p></dd>

</dl>

{% endblock %}
