{% extends "base.html" %}

{% block leftmenu %}{% include "menu_contest.html" %}{% endblock %}

{% block js %}
<script type="text/javascript">
$("#menu-contest").addClass("active");
$("#side-menu-faq").addClass("active");
</script>
{% endblock js %}

{% block title %}Foire aux Questions{% endblock %}
{% block subtitle %}Réponses aux questions plus souvent reçues{% endblock %}


{% block content %}

<div class="alert alert-success">
<strong>Une autre question ?</strong> Posez-la-nous par email à l'adresse <a href="mailto:info@be-oi.be">info@be-oi.be</a>.
</div>

{% if categories %}
<h3>Catégories</h3>
<ul>
	{% for category in categories %}
	<li><a href="#cat{{category.id}}">{{ category.name_fr }}</a></li>
	{% endfor %}
</ul>
{% else %}
    <p><strong>Aucune question pour l'instant.</strong></p>
{% endif %}

<hr />

{% for category in categories %}
	<h3><a name="cat{{category.id}}"></a>{{ category.name_fr }}</h3>
<dl>
	{% for question in category.questions %}
		<dt>{{ question.question }}</dt>
		<dd><p>{{ question.answer }}</p></dd>
	{% endfor %}
</dl>
{% endfor %}

{% endblock content %}
