{% extends "fr/base.html" %}

{% block content%}
<h2>Finale<img src="/static/pictures/2010/oi2010-machine.jpg" width="350" height="231" class="withframe float-right" /></h2>

<p>La finale 2012 se déroulera le mercredi 14 mars. Elle se compose, contrairement à la demi-finale, d'une partie sur papier et d'une partie sur ordinateur. Le concours se déroulera à la <a href="http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=Rue+Grandgagnage+21,+Namur,+Belgique&aq=0&oq=21+rue+gran&sll=50.468104,4.859734&sspn=0.014915,0.042272&vpsrc=0&ie=UTF8&hq=&hnear=Rue+Grandgagnage+21,+Namur+5000+Namur,+R%C3%A9gion+Wallonne,+Belgium&ll=50.465796,4.858897&spn=0.007458,0.021136&t=m&z=16&iwloc=A&layer=c&cbll=50.465981,4.857578&panoid=KfOaUPVEZaD4-dXNXMDYtw&cbp=12,93.26,,0,15.92">Faculté d'Informatique</a> des FUNDP à Namur.</p>

<p>La finale débute à 14.30 et termine à 17.30. Les participants sont attendus à 14.15 dans le hall d'entrée de la Faculté.</p>

<p>L'épreuve sur machine se déroulera sur des terminaux UNIX. Les environnements de développement seront similaires à l'Olympiade précédente. Un éditeur de texte simple avec des raccourcis prédéfinis pour la compilation et le test local sera uniquement disponible.</p>
	
<p>Quelques indications sur les types de questions auxquels vous pourriez être confrontés durant la finale sont reprises dans le règlement ci-dessous. N'hésitez pas non plus à consulter <a href="{% url sample-questions LANGUAGE_CODE %}">les questions de l'année passée</a>.</p>

<p>La proclamation des résultats se déroulera le samedi 17 mars à 15h, également à la Faculté d'Informatique de Namur. Elle sera suivie d'un cocktail où vous êtes tous chaleureusement invités.</p>

<h3>Règlement de l'épreuve</h3>

{% include "fr/includes/final_rules.html" %}

{% endblock %}
