{% extends "base.html" %}
{% load i18n %}

{% block js %}
<script type="text/javascript">
$("#menu-home").addClass("active");
$("#home-carousel").carousel({interval: 5000});
</script>
<script src="/static/js/fb-likebox.js"></script>
{% endblock js %}

{% block title %}News{% endblock %}

{% block header %}
<h1>Olympiade belge d'Informatique</h1>
<p>Programmation, algorithmique et logique.</p>
{% endblock header %}


{% block leftmenu %}
<div id="fb-root"></div><div id="fblikebox" class="fb-like-box"></div>
{% endblock %}


{% block content %}

<div id="home-carousel" class="carousel slide img-polaroid">
  <!-- Carousel items -->
  <div class="carousel-inner">

    <div class="active item">
      <img src="/static/banners/help.jpg" />
      <div class="carousel-caption">
        <h4>Bienvenue !</h4>
        <p>L'Olympiade belge d'Informatique (be-OI) est une compétition de programmation, d'algorithmique et de logique destinée aux élèves en secondaire. Ce concours permet également d'identifier des candidats afin de réprésenter la Belgique à l'Olympiade Internationale d'Informatique (IOI).</p>
      </div>
    </div>

    <div class="item">
      <img src="/static/banners/paper-closeup.jpg" />
      <div class="carousel-caption">
        <h4>A vous de relevez le défi</h4>
        <p>L'édition 2013 débute avec la demi-finale le mercredi 23 janvier, dans l'après-midi. Qu'attendez-vous pour <a href="{% url registration LANGUAGE_CODE %}">vous y inscrire</a> ?</p>
      </div>
    </div>

    <div class="item">
      <img src="/static/banners/ioi12group.jpg" />
      <div class="carousel-caption">
        <h4>Deux médailles !</h4>
        <p><a href="{% url archives-2012 LANGUAGE_CODE %}">La délégation belge remporte une médaille d'argent et une médaille de bronze à l'Olympiade Internationale d'Informatique 2012</a>. Et si c'était vous en 2013 en Australie ?</p>
      </div>
    </div>

  </div> <!-- /carousel-inner -->

  <!-- Carousel nav -->
  <a class="carousel-control left" href="#home-carousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#home-carousel" data-slide="next">&rsaquo;</a>
</div>


<section id="file-structure">
  <h2>Dernières news</h2>
  {% for entry in object_list %}
  <h3>{{ entry.title }}</h3>
  <p class="pull-right well well-small" style="margin:0 0 5px 20px;"><i class="icon-calendar"></i>&nbsp;{{ entry.publication_date|date:"d M Y" }}<br/><i class="icon-user"></i>&nbsp;{% if entry.author.first_name %}{{ entry.author.first_name }} {{ entry.author.last_name }}{% else %}{{ entry.author }}{% endif %}</li></p>
  <p>{{ entry.body|safe }}</p>
  <hr />
  {% endfor %}
</section>

{% endblock content %}