{% extends "base.html" %}
{% load i18n %}

{% block js %}
<script type="text/javascript">
$("#menu-home").addClass("active");
</script>
{% endblock js %}

{% block title %}News{% endblock %}

{% block header %}
<h1>Olympiade belge d'Informatique</h1>
<p>Programmation, algorithmique et logique.</p>
{% endblock header %}


{% block leftmenu %}
<a class="btn btn-success btn-large" href="{% url registration LANGUAGE_CODE %}">Inscrivez-vous avant le 21 janvier !</a>
{% endblock %}


{% block content %}

<div id="myCarousel" class="carousel slide" data-interval="3000">
  <!-- Carousel items -->
  <div class="carousel-inner">

    <div class="active item hero-unit" id="hero1">
      <div class="hero-label">
        <p>L'Olympiade belge d'Informatique (be-OI) est une compétition de programmation, d'algorithmique et de logique destinée aux élèves en secondaire. Ce concours permet également d'identifier des candidats afin de réprésenter la Belgique à l'Olympiade Internationale d'Informatique (IOI).</p>
      </div>
    </div>

    <div class="item hero-unit" style="background-image: url(/static/backgrounds/11.jpg); background-position: center center; background-size: cover;">
      <h1>Inscrivez-vous !</h1>
      <p>Les inscriptions pour la beOI 2013 sont ouvertes jusqu'au 23 janvier.</p>
      <p><a class="btn btn-primary btn-large">S'inscrire &raquo;</a></p>
    </div>

  </div> <!-- /carousel-inner -->

  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>


<section id="file-structure">
  <h2>Dernières news</h2>
  {% for entry in object_list %}
  <h3>{{ entry.title }}</h3>
  <p class="pull-right well well-small" style="margin:0 0 5px 20px;"><i class="icon-calendar"></i>&nbsp;{{ entry.publication_date|date:"d M Y" }}<br/><i class="icon-user"></i>&nbsp;{% if entry.author.first_name %}{{ entry.author.first_name }} {{ entry.author.last_name }}{% else %}{{ entry.author }}{% endif %}</li></p>
  <p>{{ entry.body|safe }}</p>
  <hr />
  {% endfor %}
</section>

{% endblock content %}




