{% extends "fr/base.html" %}

{% block content%}

<h2>Olympiade Internationale d'Informatique 2012</h2>

<!-- <p>L'<b>Olympiade Internationale d'Informatique</b> (IOI) est une compétition internationale de programmation pour élèves du secondaire qui a lieu chaque année dans un pays différent. Elle s'est déroulée en Thaïlande l'année dernière et se déroulera en <a href="http://www.ioi2012.org/" target="_blank">Italie en 2012</a>. Plus de 80 pays y sont représentés par leurs équipes nationales. L'IOI est l'une des huit disciplines scientifiques internationales reconnues avec les mathématiques, la biologie, la chimie, la physique, la géographie, l'astronomie et la linguistique. La Belgique a participé aux Olympiades Internationales en 1992, <a href="{% url archives-2010-ioi LANGUAGE_CODE %}">2010</a> et <a href="{% url archives-2011-ioi LANGUAGE_CODE %}">2011</a>, édition durant laquelle une médaille de bronze a été rapportée.</p>

<p>Les participants à l'Olympiade Internationale seront sélectionnés à partir d'un pool d'entrainement qui sera constitué à la suite de la finale.</p>

{# <p>Au terme de la <a href="{% url final LANGUAGE_CODE %}">finale</a> des olympiades belges 2011, 10 candidats (5 francophones et 5 néerlandophones) ont été sélectionnés pour faire partie du <b>pool belge d'entrainement</b> aux IOI. Ces participants vont recevoir une formation intensive d'une semaine durant la seconde semaine des congés de Pâques (du 18 avril au 22 avril 2011). Au terme de cette formation sera organisé un test et quatre candidats seront sélectionnés (2 francophones et 2 néerlandophones) afin de faire partie de la délégation belge qui sera envoyée en Thaïlande pour tenter de décrocher une ou plusieurs médailles, du 22 au 29 juillet 2011.</p> #} -->

	

<p><img src="/static/pictures/2012/ioi-all.jpg" width="300" class="withframe float-right" title="La délégation belge aux Olympiades Internationales d'Informatique" />
	Pour la troisième année consécutive, une délégation belge participait en 2012 à l'Olympiade Internationale d'Informatique (IOI), organisée cette fois à Sirmione et Montichiari en Italie. La Belgique remporte cette année une médaille d'argent et une médaille de bronze, grâce à respectivement Floris Kint, du collège Notre-Dame d'Ostende, et Victor Lecomte du Lycée Martin V de Louvain-la-Neuve. Ce résultat est de loin le meilleur des trois dernières années de participation.</p>

<p class="center"><img src="/static/logos/ioi2012.jpg" /></p>

<p>La délégation belge comptait dans ses rangs cette année Floris Kint, Victor Lecomte, tout deux ayant déjà participé à l'IOI en 2011, Hannes Vandecasteele et Benoît Vernier. Ils étaient encadrés par Damien Leroy et Joachim Ganseman. Les quatres participants sont en 5e secondaire et ont tous été choisis suite à un entrainement intensif et une sélection drastique parmi les meilleurs éléments de la finale nationale.<img src="/static/pictures/2012/ioi-medals.jpg" width="300" class="withframe float-right" alt="La délégation belge aux Olympiades Internationales d'Informatique" title="Floris et Victor avec leurs médailles" /></p>

<p>La 24e IOI a vu se confronter 310 participants issus 82 pays à travers le monde. Parmi ceux-ci, quatre représentaient la Belgique. Leurs résultats, sur un total de 600 points et sur 308 participants, sont les suivants:
</p>
<ul>
	<li>77e: Floris Kint - 237pts - médaille d'argent</li>
	<li>143e: Victor Lecomte - 169pts - médaille de bronze</li>
	<li>256e: Hannes Vandecasteele - 61pts</li>
	<li>257e: Benoît Vernier - 60pts</li>
</ul>

<p>Vous êtes curieux de savoir si vous pourriez faire mieux ? <a href="/static/downloads/IOI2012-Questions-fr.zip">Téléchargez les 6 questions</a> et tentez de les résoudre en moins de 10 heures !</p>

<p>Après la première médaille de bronze remportée l'an passé, ces deux médailles constituent un excellent résultat pour une troisième participation consécutive et pour un pays modeste tel que la Belgique.</p>

<p><img class="withframe" src="/static/pictures/2012/ioi-long.jpg" title="La délégation belge aux Olympiades Internationales d'Informatique" width="680"  /></p>

<h4>Avec le support d'IBM, de l'IBBT et du gouvernement flamand</h4>

<p><a href="http://www.ibm.com/be/fr/" target="_blank"><img src="/static/logos/ibm_logo-large.jpg" width="350" height="136" /></a>
	<a href="http://www.ibbt.be" target="_blank"><img src="/static/logos/ibbt-logo.jpg" width="300"/></a><a href="http://www.ond.vlaanderen.be/" target="_blank"><img src="/static/logos/vlaams-overheid-logo.png" width="350" height="103" /></a></p>



{% endblock %}

