{% extends "base.html" %}
{% load i18n %}

{% block leftmenu %}{% include "menu_contest.html" %}{% endblock %}

{% block js %}
<script type="text/javascript">
$("#menu-contest").addClass("active");
</script>
{% endblock js %}

{% block title %}Parrainage{% endblock %}
{% block subtitle %}Envie de gagner un prix d'une valeur de 100eur ? {% endblock %}

{% block content %}

<p class="lead">Envie de gagner un prix d'une valeur de 100eur ? Pour cela, il vous suffit d'être le participant
	ayant convaincu le plus grand nombre de personne à s'inscrire à l'Olympiade d'informatique. Invitez vos amis
	à participer à l'Olympiade belge d'informatique en leur fournissant le lien ou le code reçu lors de votre inscription.
	A chaque inscription d'un participant sous 
	votre parrainage, vous et le participant parrainé (votre filleul) gagnez 1 point. Le participant
	 qui aura récolté le plus grand nombre de points remportera un prix lors de la proclamation.
</p>

<h3>Quelques règles</h3>
<ul>
	<li>Les participants du concours ne participant à la demi-finale seront disqualifiés et ne compteront pas pour les points de leur parrain.</li>
	<li>En cas d'égalité de points, la somme des scores à la demi-finale du participant et tous ses filleuls départagera les
		meilleurs scores. Si il y a encore égalité à ce stade, le premier participant à s'être inscrit sera le gagnant.</li>
</ul>

{% if correcttoken %}

<h3>Votre score</h3>

{% if godchildren %}
<p>Vous avez <strong>{{ points }}</strong> point(s). Vos filleuls sont:</p>
<ul>
	{% for godchild in godchildren %}
	<li>{{ godchild.firstname }} {{ godchild.surname }}</li>
	{% endfor %}
</ul>
{% else %}

	<p>Vous n'avez pas de filleul pour l'instant. Vous avez donc <strong>{{ points }}</strong> point pour l'instant.</p>

{% endif %}



<p>Partagez avec vos amis le lien <strong id="linktoshare"></strong> ou utilisez les boutons ci-dessous afin de le partager sur Twitter ou Facebook. Les inscriptions recueillies via ce lien seront automatiquement créditées sur votre compte.</p>

<p style="margin-top:20px;"><div style="padding:0 25px; 0 25px" class="fb-like" data-send="false" data-width="100" data-show-faces="false" data-action="recommend"></div><a href="https://twitter.com/share" class="twitter-share-button" data-lang="fr" data-size="large" data-count="none">Tweeter</a>
</p>

<script type="text/javascript">
function getURLParameter(name) {
    return decodeURI(
        (RegExp(name + '=' + '(.+?)(&|$)').exec(location.search)||[,null])[1]
    );
}
var token =  getURLParameter('token');
var sharedURL = "http://be-oi.be{{ sharinglink }}";
$(".fb-like").attr("data-href",sharedURL);
$(".twitter-share-button").attr("data-url", sharedURL);
$("#linktoshare").html(sharedURL);

!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
</script>


{% endif %}

{% endblock %}