{% extends "base.html" %}
{% load i18n %}

{% block leftmenu %}{% include "menu_contest.html" %}{% endblock %}

{% block js %}
<script type="text/javascript">
$("#menu-contest").addClass("active");
$("#side-menu-registration").addClass("active");
</script>
{% endblock js %}

{% block title %}Inscription{% endblock %}
{% block subtitle %}Gratuit, facile et rapide, mais tant à gagner.{% endblock %}

{% block content %}

{% if not error %}
<div class="alert alert-success">
	<p>Félicitation, vous êtes inscrit aux Olympiades belges d'Informatique 2013! Rendez-vous le 23 janvier dans votre centre régional.</p>
{% if object %}
	<p>Vous avez choisi <i>{{object}}</i> comme centre pour votre demi-finale. Ce centre nous a donné les informations suivantes concernant le lieu exact de l'épreuve. Si nécessaire, vous recevrez davantage d'informations par e-mail.</p>
	<div style="padding-left:50px;">{{object.details|safe}}</div>
	{% endif %}

	<p>Si vous souhaitez modifier votre inscription, contactez-nous par e-mail à <a href="mailto:inscription@be-oi.be">inscription@be-oi.be</a>.</p>
</div>

{% else %}
<div class="alert alert-error">
<p>Une erreur s'est produite lors de l'inscription. Probablement étiez-vous déjà inscrit ! </p>
</div>
{% endif %}


<h3>Invitez des amis à s'inscrire et gagnez un prix d'une valeur de 100&euro; !</h3>

<p>Envie de gagner un prix d'une valeur de 100&euro; ? Pour cela, il vous suffit d'être le participant
	ayant convaincu le plus grand nombre de personne à s'inscrire à l'Olympiade d'informatique. Invitez vos amis
	à participer à l'Olympiade belge d'informatique en leur fournissant le lien <strong id="linktoshare"></strong> ou en leur demandant d'utiliser le code <strong id="sharetoken"></strong>. A chaque inscription d'un participant sous 
	votre parrainage, vous et le participant parrainé gagnez 1 point. Le participant
	 qui aura récolté le plus grand nombre de points remportera un prix lors de la proclamation.
	 <a href="{% url referrals LANGUAGE_CODE %}">Plus d'info ...</a>
</p>
<!-- 
<p>Utilisez les boutons ci-dessous afin de partager ce lien sur Twitter ou Facebook. Les inscriptions recueillies via ces partages seront automatiquement créditées sur votre compte. </p>

<p style="margin-top:20px;"><div style="padding:0 25px; 0 25px" class="fb-like" data-send="false" data-width="100" data-show-faces="false" data-action="recommend"></div><a href="https://twitter.com/share" class="twitter-share-button" data-lang="fr" data-size="large" data-count="none">Tweeter</a>
</p> -->

<script type="text/javascript">
function getURLParameter(name) {
    return decodeURI(
        (RegExp(name + '=' + '(.+?)(&|$)').exec(location.search)||[,null])[1]
    );
}
var token =  getURLParameter('token');
var sharedURL = "http://be-oi.be{% url home LANGUAGE_CODE %}?t=" + token;
$("#sharetoken").html(token);
$("#linktoshare").html(sharedURL);
$(".fb-like").attr("data-href",sharedURL);
$(".twitter-share-button").attr("data-url", sharedURL);

!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
</script>


{% endblock %}
