{% extends "fr/base.html" %}

{% block content%}
<h2>Règlement</h2>

<ol>
	<li>L'Olympiade belge d'Informatique (beOI) est une compétition de programmation, d'algorithmique et de logique organisée par la "<emph>Belgische Informatica-olympiade - Olympiade belge d’Informatique (beOI) ASBL</emph>".</li>

	<li>Le concours beOI est coordonnée par l'ensemble des membres de l'ASBL composée principalement des corps enseignants d'Universités et Hautes-Écoles de Belgique. Ces membres sont chargés de gérer tous les aspects liés au concours.</li>
	
	<li>En s'inscrivant aux beOI, les candidats acceptent intégralement le présent règlement.</li>

	<li>Les langues officielles du concours beOI sont le français et le néerlandais. Les participants doivent choisir à l'inscription la langue dans laquelle ils souhaitent concourir.</li>

	<li>Le concours est réservé aux élèves inscrits dans l'enseignement secondaire lors des mois de septembre à décembre précédants l'épreuve. Les participants doivent, par ailleurs, avoir la nationalité belge ou être inscrit dans un établissement scolaire établi en Belgique. Les candidats doivent également avoir moins de 21 ans au 1<sup>er</sup> juillet de l'année au cours de laquelle a lieu l'épreuve. Des preuves de l'âge du participant ainsi que de son inscription dans l'établissement scolaire pourront être demandées (par e-mail) aux participants par les organisateurs du concours.</li>

	<li>Le concours beOI est organisé en deux étapes&nbsp;: une demi-finale et une finale. Les dates des deux épreuves sont indiquées sur le calendrier en ligne.</li>

	<li>Les questions sont préparées par les membres de l'ASBL. La demi-finale se déroule intégralement sur papier. La finale comportera deux types de questions :

	<ol>
		<li>Le premier type de questions correspond à des exercices à résoudre sur papier. Les réponses peuvent être données en pseudo-code ou dans un des langages de programmation officiellement autorisés.</li>
			
		<li>Le second type de questions correspond à des exercices à résoudre sur ordinateur sous forme d'un programme écrit dans un des langages de programmation officiellement autorisés.</li>
	</ol>
	
	Les langages de programmation officiellement autorisés sont C, C++, Pascal, Java, Python et PHP.</li>
 	
 	<li>Les membres de l'ASBL sont chargés de corriger les réponses des candidats, d'établir le classement des candidats et de désigner les lauréats.</li>

	<li>Au maximum 60 finalistes parmi les candidats de la demi-finale ayant obtenu les meilleurs scores sont sélectionnés pour la finale, tout centre régional confondu.</li>

	<li>Suite à la finale, un classement est établi parmi les finalistes selon leur score à la finale. En cas d'égalité, l'heure à laquelle leur score final à la partie sur ordinateur a
		été atteint est prise en compte. Les résultats seront annoncés lors de la proclamation et affichés en ligne. Les meilleurs candidats de la finale recevront des prix. 
	</li>

	<li>Au minimum 10 participants du concours, dont au moins trois francophones et trois néerlandophones, choisis parmi les meilleurs finalistes se verront proposer de faire partie du pool d'entraînement à l'Olympiade Internationale. Les noms des sélectionnés seront annoncés lors de la proclamation. Le nombre de ces participants pourra n'être dévoilé que lors de la proclamation et sera déterminé par les membres de l'ASBL. En cas de défection d'un grand nombre de sélectionnés, quelques finalistes supplémentaires pourraient être repêchés par la suite.</li>

	<li>Quelques mois avant l'Olympiade Internationale d'Informatique (IOI), les membres de l'ASBL choisiront, parmi les candidats du pool d'entraînement, les quatre participants qui feront partie de l'équipe nationale à l'Olympiade Internationale d'Informatique (IOI) de l'année courante. Les règles de sélection de ces candidats seront définies par l'ASBL de manière à maximiser les chances de résultats de la délégation belge à l'Olympiade Internationale.</li>

	<li>Tout point non prévu par le présent règlement sera tranché par les membres de l'ASBL.</li>
 </ol>

{% endblock %}
