{% extends "base.html" %}
{% load i18n %}

{% block leftmenu %}{% include "menu_training.html" %}{% endblock %}

{% block js %}
<script type="text/javascript">
$("#menu-contest").addClass("active");
$("#side-menu-sample-questions").addClass("active");
</script>
{% endblock js %}

{% block header %}
<h1>Exemples de Questions</h1>
<p>Questionnaires des années précédentes </p>
{% endblock header %}


{% block content%}
<p>Afin de vous entrainer au concours, vous pouvez télécharger des exemples de questions accompagnés d'une solution possible, expliquée en détails. N'hésitez pas non plus à lire le document <a href="/static/downloads/OI-2010-intro-algo.pdf">Introduction à l'algorithmique</a> qui vous propose une introduction à l'algorithmique à partir d'exemples détaillés. </p>


<h2>Archives de questions </h2>

<ul>
	<li><a href="/static/downloads/OI-2012-fr-demi-finale.pdf">Questions demi-finale 2012</a></li>
	<li>Questions finale 2011 (papier) : <a href="/static/downloads/OI-2011-final-sec-paper-fr.pdf">Secondaire</a> &mdash; <a href="/static/downloads/OI-2011-final-high-paper-fr.pdf">Supérieur</a></li>
	<li>Questions finale 2011 (machine): <a href="/static/downloads/OI-2011-final-sec-comp-fr.pdf">Secondaire</a> &mdash; <a href="/static/downloads/OI-2011-final-high-comp-fr.pdf">Supérieur</a> </li>
	<li>Questions demi-finale 2011 : <a href="/static/downloads/OI-2011-demi-finale-secondaire-fr.pdf">Secondaire</a> &mdash; <a href="/static/downloads/OI-2011-demi-finale-superieur-fr.pdf">Supérieur</a> &mdash; <a href="/static/downloads/OI-2011-demi-finale-sol.pdf">Solutions</a></li>
	<li>Questions finale 2010 (papier) : <a href="/static/downloads/OI-2010-finale-papier-secondaire.pdf">Secondaire</a> &mdash; <a href="/static/downloads/OI-2010-finale-papier-superieur.pdf">Supérieur</a></li>
	<li>Questions finale 2010 (machine) : <a href="/static/downloads/OI-2010-finale-machine-secondaire.pdf">Secondaire</a> &mdash; <a href="/static/downloads/OI-2010-finale-machine-superieur.pdf">Supérieur</a></li>
	<li>Questions demi-finale 2010 : <a href="/static/downloads/OI-2010-demi-finale-secondaire.pdf">Secondaire</a> &mdash; <a href="/static/downloads/OI-2010-demi-finale-superieur.pdf">Supérieur</a></li>
</ul>


{% endblock %}
