{% extends "fr/base.html" %}

{% block content%}
<h2>Demi-finales<img src="/static/pictures/2010/oi2010-finals-sheet.jpg" width="350" height="231" class="withframe float-right" /></h2>

<p>Les demi-finales des Olympiades belges d'Informatique 2012 se sont déroulées le mercredi 2 février 2012 dans les différents <a href="{% url semifinal-places LANGUAGE_CODE %}">centres régionaux</a> du pays. L'épreuve comptait 137 participants parmi lesquels 51 ont été sélectionnés pour la finale.</p>

<p>Les questionnaires de ces demi-finales sont <a href="/static/downloads/OI-2012-fr-demi-finale.pdf">téléchargeables</a>. {# Les <a href="/static/downloads/OI-2011-demi-finale-sol.pdf">solutions</a> sont également disponibles. #} </p>
		
<h3>Résultats</h3>

{# <p>Les résultats seront disponibles d'ici quelques jours.</p> #}
	
<p>Les 4 meilleurs scores sont:</p>

<ol>
	<li><strong>Lambein Xavier</strong> - Athénée Royal de Rixensart - 6e secondaire - <em>91pts</em></li>
	<li><strong>Maskens Oswald</strong> - Sint-Jan-Brechmanscollege, Brussel - 6e secondaire - <em>87pts</em></li>
	<li><strong>Scheers Jan</strong> - Sint-Albertuscollege, Heverlee - 6e secondaire - <em>87pts</em></li>
	<li><strong>Vandecasteele Hannes</strong> - Onze-Lieve-Vrouwecollege, Oostende - 5e secondaire - <em>87pts</em></li>
</ol>		

<p>Le score maximal était de 100. Tous les autres semi-finalistes ont reçu leur score et classement par e-mail. </p>

<p>Tous les sélectionnés pour la finale sont repris par ordre alphabétique ci-dessous.</p>

<dl>
{% for result in object_list %}
	<dt>{{result.contestant.surname}} {{result.contestant.firstname}}</dt>
	<dd><p>{{result.contestant.school.name}} &mdash; {{result.contestant.year_study}}e secondaire &mdash; {{result.contestant.school.city}}</p></dd>
{% endfor %}
</dl>


<h3>Statistiques</h3>

<p><img src="http://chart.apis.google.com/chart?chf=c,ls,86.667,FFFFFF,0.1,FBFBFB,0.1&chxl=0:|50%25|100%25|||0%25&chxp=0,50,100,75,25,0&chxs=0,676767,9,0.167,lt,676767&chxtc=0,5&chxt=y&chbh=2,1,0&chs=450x193&cht=bvs&chco=A2C180,AA0033&chd=t:91,87,87,87,84,84,83,83,83,83,83,81,80,80,80,79,77,76,76,76,74,74,74,73,73,73,71,71,71,71,71,69,69,69,69,69,69,69,67,66,64,64,64,63,63,63,61,61,60,60,60|0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,59,57,57,57,57,56,56,56,55,55,55,54,54,54,54,54,53,51,51,50,50,49,49,48,48,47,47,46,46,45,45,44,43,43,43,41,41,41,39,39,39,39,38,38,37,36,36,35,34,34,34,33,32,32,32,32,32,31,31,31,31,29,29,29,28,28,27,26,26,26,26,25,24,24,24,24,23,22,22,22,22,22,19,18,12,11&chdl=Finalistes|Non-finalistes&chdlp=b&chg=-1,-1,0,0&chma=0,0,0,6&chm=h,FFCC33,1,0.504:5,1&chtt=Scores+(par+ordre+d%C3%A9croissant)&chts=676767,10.167" width="450" height="193" alt="Scores (par ordre décroissant)" /></p>

<p><img src="http://chart.apis.google.com/chart?chf=c,ls,0,FAFAFA,0.09,FFFFFF,0.09&chxl=0:|0|10|20|30|40|50|1:|7e+|6e+|5e+|4e+|3e+|&chxp=0,0,10,20,30,40,50&chxr=0,0,55&chxs=0,676767,11.5,0,t,676767&chxtc=0,5&chxt=x,y&chbh=a,3,0&chs=337x174&cht=bhs&chco=008000,80C65A,AA0033&chds=0,55,0,55,0,55&chd=t:0,0,4,6,0|1,2,15,22,1|4,26,30,26,0&chdl=TOP+10|Finalistes|Non-finalistes&chdlp=b&chtt=R%C3%A9partition+des+participants+selon+l'ann%C3%A9e+secondaire&chts=676767,9.8" width="337" height="174" alt="Répartition des participants selon l'année secondaire" /></p>

<p><img src="http://chart.apis.google.com/chart?chf=c,ls,90,FFFFFF,0.1,FBFBFB,0.1&chxl=1:|Q1|Q2|Q3|Q4|Q5|Q6|Q7|Q8&chxs=0,676767,11.5,-0.333,lt,676767|1,676767,11.5,0,lt,676767&chxtc=0,5|1,0&chxt=y,x&chbh=a,1,7&chs=400x193&cht=bvg&chco=3399CC&chd=t:88.321,81.022,58.029,41.971,67.336,65.328,65.937,10.219&chtt=Moyenne+(%25)+obtenue+%C3%A0+chaque+question&chts=676767,9.667" width="400" height="193" alt="Moyenne (%) obtenue à chaque question" /></p>

		
{% endblock %}
