{% extends "base.html" %}
{% load i18n %}

{% block js %}
<script type="text/javascript">
$("#menu-sponsors").addClass("active");
$("#side-menu-sponsors").addClass("active");
</script>
{% endblock js %}

{% block leftmenu %}{% include "menu_press-sponsors.html" %}{% endblock %}

{% block title %}Sponsors{% endblock %}
{% block subtitle %}{% endblock %}

{% block content %}

<p class="lead">L'Olympiade belge d'Informatique n'est possible que grâce au soutien de nos sponsors. Si vous êtes intéressés à devenir sponsor ou à offrir un prix, consultez notre <a href="/static/downloads/OI-2014-sponsoring-en.pdf">brochure de sponsoring</a> ou contactez-nous via <a href="mailto:sponsors@be-oi.be">sponsors@be-oi.be</a>.</p>
<!-- 
<section>
  <h2>Sponsors 2013</h2>

  <h4>Sponsor premium</h4>  
  <a href="http://www.ibm.com/be/fr/" target="_blank"><img src="/static/logos/ibm_logo-large.jpg" height="136" width="350"  style="padding:10px;"></a>

  <h4>Sponsors standards</h4>
  <a href="http://www.lavenir.net/" target="_blank"><img src="/static/logos/lavenir-2012.jpg" width="250"  style="padding:10px;"></a>
  <a href="http://www.iminds.be" target="_blank"><img src="/static/logos/iMinds-logo.png" width="250"  style="padding:10px;"></a>

</section> -->

<section>
  <h2>Sponsors des années précédentes</h2>

  <a href="http://www.ibm.com/be/fr/" target="_blank"><img src="/static/logos/ibm_logo-large.jpg" width="160"  style="padding:10px;"></a>
  <a href="http://www.lavenir.net/" target="_blank"><img src="/static/logos/lavenir-2012.jpg" width="160"  style="padding:10px;"></a>
  <a href="http://www.iminds.be" target="_blank"><img src="/static/logos/iMinds-logo.png" width="160"  style="padding:10px;"></a>
  <a href="http://www.ores.net" target="_blank"><img style="vertical-align: middle;" src="/static/logos/ores-small-logo.png" alt="ORES" title="ORES" width="160"/></a>
  <a href="http://www.technofuturtic.be/" target="_blank"><img style="vertical-align: middle;" src="/static/logos/technofutur-tic-logo-small.png" alt="TechnoFutur TIC" title="TechnoFutur TIC" /></a>
  <a href="http://www8.hp.com/be/fr/home.html" target="_blank"><img style="vertical-align: middle;" src="/static/logos/hp-logo-small.png" alt="HP" title="HP" /></a>
  <a href="http://www.dell.be/" target="_blank"><img style="vertical-align: middle;" src="/static/logos/dell-logo-small.jpg" alt="Dell" title="Dell" /></a>
  <a href="http://www.editions-eyrolles.com/Theme/020000/informatique" target="_blank"><img style="vertical-align: middle;" src="/static/logos/eyrolles-logo-small.jpg" alt="Eyrolles" title="Eyrolles" /></a>
  <a href="http://www.irislink.com/" target="_blank"><img style="vertical-align: middle;" src="/static/logos/iris-small-logo.png" alt="I.R.I.S." title="I.R.I.S." /></a>
  <a href="http://www.macline.be/" target="_blank"><img style="vertical-align: middle;" src="/static/logos/macline-small-logo.png" alt="MacLine" title="MacLine" /></a>
  <a href="http://www.plantyn.com/wps/portal/{{LANGUAGE_CODE}}" target="_blank"><img src="/static/logos/plantyn-logo-small.jpg" /></a>
  <a href="http://www1.euro.dell.com/content/default.aspx?c=be&l={{LANGUAGE_CODE}}" target="_blank"><img src="/static/logos/dell-2011-logo-small.jpg" /></a> 
  <a href="http://www.redcorp.com/" target="_blank"><img src="/static/logos/redcorp-logo-small.jpg" /></a>


</section>

<!-- <section>
  <h2>Partenaires et Supports Institutionnels</h2>

  <div class="row">
    <div class="span9">
      <p>Avec le soutien de la Communauté flamande et de la Fédération Wallonie-Bruxelles</p>
      <a href="http://www.ond.vlaanderen.be/" target="_blank"><img src="/static/logos/vlaams-overheid-logo.png" width="250" style="padding:10px;"/></a>
      <a href="http://www.federation-wallonie-bruxelles.be" target="_blank"><img src="/static/logos/cfwb.jpg" width="250" style="padding:10px;"/></a>
    </div>
  </div> 

  {% include "members.html" %}
</section> -->



{% endblock content %}
