{% extends "fr/base.html" %}

{% block content%}
<h2>Formation</h2>

<p>La demi-finale se passant entièrement sur papier, aucune connaissance en programmation sur ordinateur n'était requise. Pour la finale, les participants devront réaliser certains exercices sur machine. Afin de mettre tout le monde sur le même pied d'égalite ou de perfectionner ses connaissances, une formation de programmation sur ordinateur est organisée entre les deux épreuves. Cette formation est entièrement gratuite et sur base volontaire.</p>

<p>Davantage d'information sera donnée peu après la demi-finale.</p>


{# <p>Cette année, la formation est organisée à la Faculté d'Informatique de l'Université de Namur (FUNDP) les 23 et 24 février 2012. Elle est ouverte à tous, moyennant une inscription préalable par mail. Les élèves doivent prévoir de se rendre au lieu de la formation par leurs propres moyens. Ils doivent également prévoir leurs repas le midi.</p> #}
{# 	 #}
{# <h3>Programme de la formation </h3> #}
{#  #}
{# <ul> #}
{# 	<li>Premier jour</li> #}
{# 	<ul> #}
{# 		<li>Introduction à l'univers UNIX.</li> #}
{# 		<li>Rappels des notions d'algorithmique.</li> #}
{# 		<li>Introduction à la programmation en C.</li> #}
{# 		<li>Résolution de problèmes sur ordinateur.</li> #}
{# 	</ul> #}
{# 	<li>Deuxième jour</li> #}
{# 	<ul> #}
{# 		<li>Programmation "avancée" en C.</li> #}
{# 		<li>Résolution de problèmes avancés sur ordinateur.</li> #}
{# 	</ul> #}
{# </ul> #}
{#  #}
{# <h3>Détails pratiques</h3> #}
{#  #}
{# <ul> #}
{# 	<li>Une inscription est souhaitée avant le 19 février 2012 par mail à <a href="mailto:be-oi@info.fundp.ac.be">be-oi @ info.fundp.ac.be</a> en mentionnant votre prénom et votre nom.</li> #}
{# 	<li>La formation se donne de 9.00 à 12.00 et de 13.30 à 17.30.</li> #}
{# 	<li>Le rendez-vous le premier jour est fixé dans le hall d'entrée de la <a href="http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=Rue+Grandgagnage+21,+Namur,+Belgique&aq=0&oq=21+rue+gran&sll=50.468104,4.859734&sspn=0.014915,0.042272&vpsrc=0&ie=UTF8&hq=&hnear=Rue+Grandgagnage+21,+Namur+5000+Namur,+R%C3%A9gion+Wallonne,+Belgium&ll=50.465796,4.858897&spn=0.007458,0.021136&t=m&z=16&iwloc=A&layer=c&cbll=50.465981,4.857578&panoid=KfOaUPVEZaD4-dXNXMDYtw&cbp=12,93.26,,0,15.92">Faculté d'Informatique.</a></li> #}
{# 	<li>Pour les retardataires, le chemin vers la salle de formation sera fléché depuis l'entrée.</li> #}
{# </ul> #}


{# <p>La première formation aura lieu durant les vacances de Carnaval, les jeudi 10 mars 2011 et vendredi 11 mars 2011. #}
{# 	 La formation se déroulera en français à Louvain-la-Neuve et en néerlandais à Anvers.</p> #}
{# <p>La formation est ouverte à tous les élèves du secondaire ayant présenté la demi-finale des Olympiades.  #}
{# 	La participation à la formation est gratuite, les participants doivent se rendre sur place par leurs propres  #}
{# 	moyens et payer par eux-mêmes le lunch de midi.</p> #}
{# <p>Pour vous inscrire, c'est facile, il vous suffit d'envoyer un e-mail à  #}
{# 	<a href="mailto:sebastien.combefis@be-oi.be">sebastien.combefis@be-oi.be</a> en mentionnant  #}
{# 	votre prénom et votre nom.</p> #}
{#  #}
{# <h3>Détails pratiques</h3> #}
{#  #}
{# <p>La formation se déroule de 9h à 17h30. Le point de rendez-vous est fixé dans le Hall du bâtiment Sainte Barbe  #}
{# 	se situant Place Sainte Barbe  #}
{# 	(<a href="http://maps.google.be/maps?f=q&source=s_q&hl=fr&geocode=&q=2+Place+Sainte-Barbe,+Ottignies-Louvain-la-Neuve,+R%C3%A9gion+Wallonne&aq=0&sll=50.805935,4.432983&sspn=4.235592,7.591553&ie=UTF8&hq=&hnear=Place+Sainte-Barbe+2,+1348+Ottignies-Louvain-la-Neuve,+Brabant+Wallon,+R%C3%A9gion+Wallonne&ll=50.668443,4.621682&spn=0.004148,0.007414&z=17" target="_blank">plan</a>).  #}
{# 	Au programme de la formation :</p> #}
{#  #}
{# <ul> #}
{# 	<li>Introduction à la programmation avec Python</li> #}
{# 	<li>Notions d'algorithmique</li> #}
{# 	<li>Résolution de problèmes algorithmiques</li> #}
{# 	<li>Résolution de problèmes sur machine</li> #}
{# </ul> #}

{% endblock %}
