{% extends "base.html" %}
{% load i18n %}

{% block body %}
<div id="home-frame">
  <div class="container">
    <div class="row">

      <div class="span4">
        <img src="/static/img/beoi-logo-root.png" class="logo" />
      </div>

      <div class="span4">
        <div class="lang-teaser">
          <h1>Belgische Informatica-olympiade</h1>
          <p>De Belgische Informatica-olympiade (OI) is een wedstrijd in programmeren, algoritmiek en logica, bestemd voor leerlingen uit alle jaren en richtingen van het secundair onderwijs. Uit de laureaten worden deelnemers voor de International Olympiad in Informatics (IOI) geselecteerd.</p>
          <a type="button" href="{% url home "nl" %}" class="btn btn-primary btn-large">Nederlands &raquo;</a>
        </div>
      </div>

      <div class="span4">
        <div class="lang-teaser">
          <h1>Olympiade belge d'Informatique</h1>
          <p>L'Olympiades belge d'Informatique (OI) est une compétition de programmation, d'algorithmique et de logique destinée aux élèves de secondaires de tout age et permettant d'identifier des candidats pour les Olympiades Internationales d'Informatique (IOI).</p>
          <a type="button" href="{% url home "fr" %}" class="btn btn-primary btn-large">Français &raquo;</a>
        </div>
      </div>

    </div>
  </div>

  <div id="push"></div>
</div> <!-- /wrap -->

 <footer id="footer">
  <div class="container">
    <div class="row">
      <div class="span12">
        <a href="http://www.be-oi.be/"><img src="/static/img/beoi-logo-dark-tiny.png" class="logo"/></a>
        <p>beOI ASBL/VZW</p>
        <p class="hidden-phone">Belgische Informatica-olympiade - Olympiade belge d’Informatique</p>
        <p>&copy; 2011-2012. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer> 

{% endblock body %}
