<a href="http://www.unamur.be/" target="_blank"><img src="/static/logos/unamur-logo.png" /></a>
<a href="http://www.uclouvain.be/" target="_blank"><img src="/static/logos/ucl-logo.png" />  </a>
<a href="http://www.vub.ac.be/" target="_blank"><img src="/static/logos/vub-logo.jpg" />  </a>
<a href="http://www.ulb.ac.be/" target="_blank"><img src="/static/logos/ulb-logo.png" />  </a>
<a href="https://www.uantwerpen.be/" target="_blank"><img src="/static/logos/ua-logo.jpg" />  </a>
<a href="http://www.ugent.be/" target="_blank"><img src="/static/logos/ugent-logo.png" />  </a>
<a href="http://www.uhasselt.be/" target="_blank"><img src="/static/logos/uhasselt-logo.png" />  </a>
<a href="http://www.ulg.ac.be/" target="_blank"><img src="/static/logos/ulg-logo.png" />  </a>
<a href="http://www.hers.be/" target="_blank"><img src="/static/logos/hers-logo.jpg" />  </a>
<a href="http://www.kuleuven.be/" target="_blank"><img src="/static/logos/kuleuven.png" />  </a>
<a href="http://www.umons.ac.be/" target="_blank"><img src="/static/logos/umons-logo.png" />  </a>
<a href="http://www.howest.be/" target="_blank"><img src="/static/logos/howest-logo.jpg" />  </a>
