{% load i18n %}

<ul class="nav nav-list">
	<li id="side-menu-contest" class="nav-header"><a href="{% url contest LANGUAGE_CODE %}">{% trans "Contest" %}</a></li>
	<!-- <li id="side-menu-registration" ><a href="{% url registration LANGUAGE_CODE %}">{% trans "Registering" %}</a></li> -->
	<li id="side-menu-rules" ><a href="{% url semifinal-results LANGUAGE_CODE %}">Résultats demi-finale 2013</a></li>
	<li id="side-menu-rules" ><a href="{% url rules LANGUAGE_CODE %}">{% trans "Rules" %}</a></li>
	<li id="side-menu-faq" ><a href="{% url faq LANGUAGE_CODE %}">{% trans "FAQ" %}</a></li>
	<li id="side-menu-archives" class="nav-header">{% trans "Archives" %}</li>
	<li id="side-menu-2012" ><a href="{% url archives-2012 LANGUAGE_CODE %}">{% trans "Edition" %} 2012</a></li>
	<li id="side-menu-2011" ><a href="{% url archives-2011 LANGUAGE_CODE %}">{% trans "Edition" %} 2011</a></li>
	<li id="side-menu-2010" ><a href="{% url archives-2010 LANGUAGE_CODE %}">{% trans "Edition" %} 2010</a></li>
</ul>
