{% load i18n %}

<ul class="nav nav-list">
	<li id="side-menu-contest" class="nav-header"><a href="{% url contest LANGUAGE_CODE %}">{% trans "Contest" %}</a></li>
	{% if REGISTRATION_OPEN %}
	<li id="side-menu-registration" ><a href="{% url registration LANGUAGE_CODE %}">{% trans "Registering" %} </a></li>
	<li id="side-menu-semifinalcenters" ><a href="{% url semifinal-places LANGUAGE_CODE %}">{% trans "Semifinal centers" %} </a></li>
	{% endif %}
	{% comment %}<li id="side-menu-final-results" ><a href=" {% url final-results LANGUAGE_CODE % } ">{% trans "Final Results" %} 2013</a></li> {% endcomment %}
	<li id="side-menu-semifinal-results" ><a href="{% url semifinal-results LANGUAGE_CODE %}">{% trans "Semifinal Results" %} 2013</a></li>
	<li id="side-menu-rules" ><a href="{% url rules LANGUAGE_CODE %}">{% trans "Rules" %}</a></li>
	<li id="side-menu-faq" ><a href="{% url faq LANGUAGE_CODE %}">{% trans "FAQ" %}</a></li>
	<li id="side-menu-archives" class="nav-header">{% trans "Archives" %}</li>
	<li id="side-menu-2013" ><a href="{% url archives-2013 LANGUAGE_CODE %}">{% trans "Edition" %} 2013</a></li>
	<li id="side-menu-2012" ><a href="{% url archives-2012 LANGUAGE_CODE %}">{% trans "Edition" %} 2012</a></li>
	<li id="side-menu-2011" ><a href="{% url archives-2011 LANGUAGE_CODE %}">{% trans "Edition" %} 2011</a></li>
	<li id="side-menu-2010" ><a href="{% url archives-2010 LANGUAGE_CODE %}">{% trans "Edition" %} 2010</a></li>
	<li id="side-menu-1992" ><a href="{% url archives-1992 LANGUAGE_CODE %}">{% trans "Edition" %} 1992</a></li>
</ul>
