{% extends "base.html" %}
{% load i18n %}

{% block leftmenu %}{% include "menu_contest.html" %}{% endblock %}

{% block js %}
<script type="text/javascript">
$("#menu-contest").addClass("active");
$("#side-menu-contest").addClass("active");
</script>
{% endblock js %}

{% block title %}Wedstrijd{% endblock %}
{% block subtitle %}Van logica tot programmeren, <br/>van de Belgische tot de Internationale wedstrijd.{% endblock %}

{% block content %}
<section style="padding-top:30px;">
  <img src="/static/pictures/2011/finale1.jpg" class="pull-right img-polaroid" width="175"/><p class="lead">De Informatica-olympiade is een wedstrijd die een in logica, algoritmiek en programmeren. Ze staat open voor <strong>leerlingen uit het secundair onderwijs</strong> (alle jaren, alle richtingen). De nationale wedstrijd bestaat uit een halve finale die plaatsvindt in regionale centra verspreid over het land, een intensieve trainingsperiode voor zij die weerhouden worden voor de finale, en de finale waarna de beste 4 finalisten worden weerhouden om deel te nemen aan de International Olympiad in Informatics.</p>
</section>

<div class="row">
<section class="span9">
  <h2>Have finale <small>op papier, <br/> 19 november 2014</small></h2> 
  <img src="/static/img/semifinal.png" class="span4 pull-left" style="padding-right:20px;padding-bottom:20px;"/>
  <p>De halve finale is de eerste stap van de wedstrijd. Ze vindt tegelijkertijd plaats op <a href="{% url 'semifinal-places' %}">10 locaties</a> verspreid over het land.</p>

   <p>Deze ronde is volledig <strong>op papier</strong>. Je kan je verwachten aan <strong> vragen over logica, algoritmiek en eenvoudige programmeerproblemen</strong>. Kijk als voorbeeld zeker eens naar de <a href="{% url 'sample-questions' %}">vragen van de voorgaande jaren</a>. Je mag op de vragen antwoorden in het Nederlands, Frans, Engels, in pseudo-code of in een van de toegelaten programmeertalen: C, C++, Pascal, Java, Python, PHP, (Visual) Basic of JavaScript. De beste deelnemers, 20 tot 30, stoten door naar de finale.</p>

  <p><i class="icon-calendar"></i>&nbsp;<strong>Woensdag 19 november 2014, van 14h30 tot 17h30</strong></p>

  {% if REGISTRATION_OPEN %}<p><a class="btn btn-success btn-large" href="{% url 'registration' %}">Schrijf je in vòòr {{REGISTRATION_DEADLINE|date:"DATE_FORMAT"}}!</a></p>{% endif %}
</section>
</div>

<!-- <div class="alert alert-info">
Een (optionele) tweedaagse cursus "introductie tot algoritmiek en programmeren" wordt normaalgezien tijdens de krokusvakantie aangeboden aan iedereen die de finale haalt. Meer informatie wordt later nog bezorgd aan iedereen die in aanmerking komt. </div>
-->
 
  <h3>Training voor finalisten</h3>
  <p>De geselecteerden voor de finale krijgen een trainingsprogramma aangeboden, dat deels online en deels klassikaal verloopt. Het doel hiervan is om hen de basis van programmeren en geavanceerde concepten van algoritmiek aan te leren. Zij die het meest gemotiveerd zijn en het meest oefenen, kunnen op deze manier een niveau halen dat dicht bij dat van de internationale olympiade ligt.</p> 


<div class="row">
<section class="span9">
  <h2>Finale <small>proef aan de computer <br/> (datum te bepalen, Brussel?)</small></h2> 
  <img src="/static/img/final.png" class="span4 pull-left" style="padding-right:20px;padding-bottom:20px;"/>
  <p>De finale 2015 vindt plaats op een zaterdag, eind april of begin mei. Ze bestaat volledig uit <strong>proeven aan de computer</strong>, gedurende een hele dag, en wordt onmiddellijk gevolgd door de proclamatie. De twee beste Nederlandstaligen en de twee beste Franstaligen worden uitgenodigd om deel uit te maken van de Belgische delegatie op de Internationale Olympiade.</p>  

  <p><i class="icon-calendar"></i>&nbsp;<strong>Datum te bepalen (zaterdag, hele dag)</strong></p>
</section>
</div>


<div class="row">
<section class="span9">
  <h2>International Olympiad in Informatics <br/><small>26 juli - 2 augustus 2015, Almaty (Kazachstan)</small></h2> 
  <img src="/static/img/ioi.png" class="span4 pull-left" style="padding-right:20px;padding-bottom:20px;"/>

  <p>De<strong> International Olympiad in Informatics</strong> (IOI) is een internationale programmeerwedstrijd voor leerlingen van het secundair onderwijs, en vindt elk jaar plaats in een ander land. In 2015 mag een Belgische ploeg naar <strong>Kazachstan</strong> afreizen om deel te nemen aan de 27e editie. Ongeveer 300 deelnemers uit meer dan 80 landen zijn aanwezig voor een week van competitie maar ook van nieuwe ontmoetingen en vrienschappelijke uitwisseling.</p>

  <p>Informatica is een van de 8 wetenschapsdisciplines waarin internationaal erkende olympiades worden georganiseerd, naast wiskunde, biologie, chemie, fysica, aardrijkskunde, astronomie en taalkunde. België nam eenmalig deel in <a href="{% url 'archives-1992' %}#IOI">1992</a>, en nadien in <a href="{% url 'archives-2010' %}#IOI">2010</a>, <a href="{% url 'archives-2011' %}#IOI">2011</a>, <a href="{% url 'archives-2012' %}#IOI">2012</a>, <a href="{% url 'archives-2013' %}#IOI">2013</a> en <a href="{% url 'archives-2014' %}#IOI">2014</a>. Er werden vijf medailles, <strong>één zilveren en vier bronzen</strong>, naar huis gebracht van de laatste vier edities.</p>

  <p><i class="icon-calendar"></i>&nbsp;<strong>26 juli tot 2 augustus 2014</strong></p>
</section>
</div>


{% endblock content %}
