{% extends "base.html" %}

{% block leftmenu %}{% include "menu_training.html" %}{% endblock %}

{% block js %}
<script type="text/javascript">
$("#menu-training").addClass("active");
$("#side-menu-learn-programming").addClass("active");
</script>
{% endblock js %}

{% block title %}Leren Programmeren{% endblock %}
{% block subtitle %}Een nuttige vaardigheid, een creatieve hobby, een boeiende uitdaging!{% endblock %}

{% block content%}


<section><a name="intro"/></a>
	
	<img src="/static/pictures/2011/finale2.jpg" class="pull-right img-polaroid" width="175"/>
<p class="lead">Informatica evolueert snel en biedt je constant nieuwe uitdagingen: het ontwikkelen van een stabiele website voor een festival met enkele tienduizenden bezoekers, de app die je nog mist op je smartphone gewoon zelf maken, binnenkort alle robotica in je huis aansturen... Informatica vind je overal terug, en je kan er bovendien al je creative ambitie in kwijt.</p>

	<p>Om echt creatief en inventief te kunnen zijn met de computer moet je wel eerst leren programmeren. In de meeste scholen komt dat echter niet, of slechts oppervlakkig, aan bod. Om goed te leren programmeren ben je vaak op jezelf aangewezen. En net zoals bij het leren van een muziekinstrument of een sport: als je goed wil worden dan moet je er ook tijd voor maken.</p> 

	<p>Wie gemotiveerd is om te leren programmeren, maar niet goed weet waar te beginnen, geven we hier alvast enkele tips. De meeste zijn Engelstalig - dus tegelijk een goede oefening voor je Engels!</p>

</section>



<section>
	<p>Wie niet goed weet wat hij of zij kan verwachten van programmeren, vindt bij <a href="https://www.khanacademy.org/cs/programming" target="_blank">Khan Academy</a> een goede introductie tot het onderwerp, zonder dat je er een programmeertaal voor moet kennen!</p>
	<p>Op de finale en de internationale olympiade worden enkel C++ en Java toegelaten.</p>
	<h3>Java</h3>
	<p>
	Een gemakkelijke manier om met Java te programmeren, is in de Eclipse-omgeving. Installeer <a href='http://www.eclipse.org/downloads/packages/eclipse-standard-44/lunar'>Eclipse Standard Edition</a> en je bent klaar om te beginnen.
	</p>
	<p>
	De officiële tutorial om te leren programmeren in Java, vind je <a href='http://docs.oracle.com/javase/tutorial/'>hier</a>.
	</p>
	<h3>C++</h3>
	<p>

<!--	<p><b>Python</b> is een uitstekende programmeertaal om te leren programmeren: ze is niet moeilijk en je kan met weinig code al veel bereiken. Deze website in Python geschreven! Andere websites en software die van Python gebruik maken zijn bijvoorbeeld Blender, Dropbox, Google Maps, YouTube, en verschillende games zoals Civilization IV, Battlefield II, Eve Online, ... Op de finale zijn (net zoals op de Internationale Olympiade) echter enkel Java en C++ toegelaten.</p>
	
<ul>
	<li><b><i>Aanrader:</i></b> maak een account op de website van CodeCademy en volg hun <a href="http://www.codecademy.com/tracks/python" target="_blank">Python Track</a>.</li> 

	<li>Wie graag leert met behulp van video kan altijd een kijkje nemen naar het materiaal over Python op <a href="https://www.khanacademy.org/science/computer-science" target="_blank">Khan Academy</a>.

	<li>Ook Google maakt gebruik van Python achter de schermen. Het materiaal van hun eigen <a href="https://developers.google.com/edu/python/" target="_blank">minicursus Python</a> staat online!</li> 

	<li>De website <a href="http://www.programmr.com" target="_blank"> Programmr </a> heeft enkele kleine oefeningen beschikbaar in verschillende talen, waaronder Python.</li>
</ul>
-->



<b>C++</b> is een erg krachtige programmeertaal, maar ze is niet zo gemakkelijk te leren. Een programma in C++ is vaak langer dan een in Python, maar het eindresultaat is wel snel en efficiënt. Je vindt C++ daarom terug in software waar iedere seconde telt: de 3D-engines van games (Doom III, StarCraft, ...), internetbrowsers, professionele media-software (Photoshop, Maya, ...) en achter de schermen van o.a. Facebook en Amazon.</p>

	<p>Er bestaan weinig goede websites waarop je C++ kan leren en oefenen tegelijk. We geven daarom geen specifieke aanbeveling.</p>

<ul>
	<li>Als je al wat kan programmeren, kan je beginnen met de beknopte tutorial op <a href="http://www.cplusplus.com/doc/tutorial/" target="_blank">cplusplus.com</a>. Je kan experimenteren met code in de online editor van <a href="http://ideone.com/" target="_blank">ideone.com</a>, als je eerst de taal instelt op C++.</li>
	
	<li>Een uitgebreidere introductie tot C++ kan je vinden op <a href="http://www.learncpp.com/" target="_blank">LearnCPP.com </a>. Hoofdstuk 0 helpt je met het installeren van de nodige tools op je eigen computer. De eerste 7 hoofdstukken leren je de basis (die lijkt op de oudere programmeertaal C), de latere hoofdstukken behandelen geavanceerde onderwerpen.</li>

	<li>De website <a href="http://www.programmr.com" target="_blank"> Programmr </a> heeft ook oefeningen in C++ beschikbaar.</li>

	<li>Om de GCC compiler voor C++ te installeren op Windows kun je <a href='https://www.youtube.com/watch?v=YLkFKcHvELc'>dit filmpje</a> volgen. De GCC-compiler is degene die op beOI en IOI gebruikt wordt.</li>
	
	<!-- <li>Eens je vertrouwd bent met C++, raden we je aan om aan zoveel mogelijk <a href="http://be-ioi.wikia.com/wiki/Online_Training" target="_blank">online programmeerwedstrijden</a> deel te nemen. Die vormen een uitstekende oefening voor de finale van de Belgische Informatica-olympiade!</li> -->

</ul>

</section>


<section><a name="wedstrijden"/></a>
  <h2>Competitief programmeren</h2>
	
	<p>Een olympiade test meer dan programmeren alleen: jouw oplossing moet ook creatief en efficiënt zijn. Algoritmen helpen je daarbij: zo ken je op voorhand al goede oplossingen voor vaak voorkomende problemen. Die kan je dan weer gebruiken bij het oplossen van nieuwe, complexe vraagstukken. Om daar wat over te leren kan je bij de <a href="http://www.usaco.org" target="_blank">USA Computing Olympiad</a> een hoop trainingsmateriaal vinden (je moet je er eerst registreren).</p>
	<p>Het boek <a href='https://sites.google.com/site/stevenhalim/'>Competitive Programming</a> is geschreven speciaal voor deelnemers aan informaticawedstrijden (specifiek de IOI en de ACM-ICPC voor het hoger onderwijs).</p>

	<p> Er is maar één manier om goed te worden in programmeerwedstrijden, en dat is: zoveel mogelijk ervaring opdoen! Gelukkig zijn er verschillende internationale wedstrijden waar je gratis aan kan deelnemen. We willen vooral het uitstekende Russische <a href="http://codeforces.com/" target="_blank">CodeForces</a> aanraden: zij houden je wakker met een tweewekelijkse internationale wedstrijd (beschikbaar in het Engels) waaraan duizenden mensen deelnemen. <a href="http://be-ioi.wikia.com/wiki/Online_Training" target="_blank">We hebben ook een klein lijstje met andere mogelijkheden</a>. </p> 

</section>


<section><a name="inbelgium"/></a>
	<h2>In België</h2>

	<p>Online Nederlandstalig materiaal om te leren programmeren blijft zeldzaam. Er zijn door de jaren heen wel verschillende initiatieven ontstaan om informatica te promoten, gaande van lokale computerkampen tot nationale wedstrijden zoals de onze. Ook zij kunnen je helpen om de wereld van de ICT in te duiken:</p>

<ul>
	<li>Bij <a href="http://www.coderdojobelgium.be/" target="_blank">CoderDojo Belgium</a> kan je terecht als je eens echt gecoacht wilt worden of les wilt krijgen. CoderDojo is een jeugdclub voor wie graag met computers bezig is, net zoals je muziekscholen hebt voor wie graag musiceert. Inschrijven is noodzakelijk en de plaatsen zijn beperkt, maar de sfeer is uitstekend, je ontmoet gelijkgezinden, en als je vastzit kan je een vraag stellen aan een echte persoon in plaats van urenlang te moeten zoeken op het internet.</li>
	<li>De <a href="http://www.vlaamseprogrammeerwedstrijd.be" target="_blank">Vlaamse Programmeerwedstrijd</a> gaat elk jaar door in de lente. Dit is een wedstrijd waar je in teamverband aan de computer programmeeropdrachten oplost. Je kan er een ruime selectie aan programmeertalen gebruiken.</li>
	<li>Franstalige landgenoten kunnen uitstekende tutorials vinden op de <a href="http://www.openclassrooms.com/" target="_blank">OpenClassRooms</a>, en kunnen voor meer oefeningen ook terecht bij <a href="http://www.france-ioi.org">onze Franse collega's</a>.</li>
</ul>

</section>


<!--
<h3>Praktische details</h3>

<p>Nederlandstalige deelnemers kunnen voor de training dit jaar terecht op de <a href="http://www.vub.ac.be/infoover/campussen/index.html#campus1">Vrije Universiteit Brussel, campus Etterbeek</a>. De cursus zal plaatsvinden op maandag 20 en dinsdag 21 Februari 2012 van 10u tot 16u. De exacte locatie wordt je meegedeeld na inschrijving.</p>

<p>Op het programma staat:</p>

<ul>
 	<li>Inleiding programmeren met Python</li>
 	<li>Inleiding algoritmiek</li>
 	<li>Oplossen van algoritmische problemen</li>
 	<li>Praktijk programmeren op de computer</li>
</ul>

<p>De deelnemers krijgen een gratis lunch in het studentenrestaurant.</p>
<p>Inschrijven kan door een e-mail te sturen naar <a href="mailto:tvcutsem@vub.ac.be">Tom Van Cutsem</a>. Vermeld hierbij je naam en school.</p>
-->


{% endblock %}

