{% extends "base.html" %}

{% block js %}
<script type="text/javascript">
$("#menu-training").addClass("active");
$("#side-menu-preparing").addClass("active");
</script>
{% endblock js %}

{% block leftmenu %}{% include "menu_training.html" %}{% endblock %}

{% block title %}Jezelf voorbereiden{% endblock %}
{% block subtitle %}Hoe begin je het best aan deze olympiade?{% endblock %}

{% block content%}

<img src="/static/pictures/2010/final-comhelp.jpg" class="pull-right img-polaroid" />

<p class="lead">Uit vorige jaren leerden we dat veel mensen wel willen meedoen met de Informatica-olympiade, maar niet goed weten wat ze kunnen verwachten. Een van de meest gehoorde vragen die wij krijgen is: &laquo;Wat moet ik allemaal kennen om te kunnen meedoen?&raquo; Het antwoord is: de Belgische Informatica-olympiade wil zo laagdrempelig mogelijk zijn. Het is voor ons belangrijk dat iedereen een goede score kan halen met een minimale voorbereiding.</p>

<h2>Vereiste voorkennis</h2>

<ul class="spaced">
	<li>Voor de <strong>halve finale</strong>, de eerste ronde van de wedstrijd, is <strong>geen specifieke voorkennis</strong> vereist. De test is volledig schriftelijk en het is niet nodig om te kunnen programmeren. Het is echter wel handig om te weten wat een algoritme is, en hoe je er een kan begrijpen en misschien zelf schrijven. Als deze wedstrijd nieuw voor je is, werp dan even een blik op de <a href="{% url 'sample-questions' %}">vragen van vorige jaren</a> om vertrouwd te raken met het soort vragen dat gesteld wordt.</li>

	<li>De <strong>finale</strong> bevat een programmeeropdracht aan de computer. Om goede resultaten te halen op de finale, moet je dus een beetje overweg kunnen met een van de programmeertalen die we toelaten: <em>Java en C++</em>. De resultaten op de finale bepalen (in tegenstelling tot vorige jaren) direct wie mee mag naar de Internationale Olympiade in Informatica. Om de finalisten zo goed mogelijk voor te bereiden op de finale, voorzien we tussen de halve finale en de finale een reeks trainingen over algoritmes (in C++ en Java). Daarnaast is het ook aangeraden om in die periode mee te doen aan online programmeerwedstrijden om het type vragen te leren kennen.</li>

Waarop wacht je nog om je <a href="{% url 'registration' %}">in te schrijven</a>? 


<h2>Om je op weg te helpen ... </h2>

<p>Op de pagina met <a href="{% url 'sample-questions' %}">vragen van de voorbije jaren</a> kan je terugvinden wat voor soort vragen er zo al gesteld worden op de beOI. Dezelfde pagina bevat ook het document <a href="/static/downloads/OI-2010-NL-intro-algo.pdf">Introductie tot de algoritmiek</a>, dat je laat kennismaken met algoritmes en hoe ze in pseudo-code genoteerd kunnen worden. Als je weinig ervaring hebt met algoritmes, is het erg aan te raden om dit grondig door te lezen!</p>

{% endblock %}
