{% extends "base.html" %}
{% load i18n %}

{% block leftmenu %}{% include "menu_contest.html" %}{% endblock %}

{% block js %}
<script type="text/javascript">
$("#menu-contest").addClass("active");
$("#side-menu-registration").addClass("active");
</script>
{% endblock js %}

{% block title %}Inschrijven{% endblock %}
{% block subtitle %}Gratis, gemakkelijk, snel, en toch zoveel te winnen.{% endblock %}

{% block content %}

<div class="alert alert-success">
	<p>Gefeliciteerd, je bent nu ingeschreven voor de Belgische Informatica-olympiade 2014! Ga op woensdag 19 november 2014 naar het regionale centrum dat je hebt gekozen.</p>
	{% if object %}
	<p>Je hebt <i>{{object}}</i> als centrum gekozen voor de halve finale. Dat centrum heeft ons de volgende informatie gegeven over de precieze plaats van de halve finale. Als het nodig is, zal je meer informatie per email ontvangen.</p>
	<div style="padding-left:50px;">{{object.details|safe}}</div>
	{% endif %}

	<p>Als je je inschrijving wil veranderen, stuur een email naar <a href="mailto:inschrijving@be-oi.be">inschrijving@be-oi.be</a>.</p>
</div>

<script type="text/javascript">
function getURLParameter(name) {
    return decodeURI(
        (RegExp(name + '=' + '(.+?)(&|$)').exec(location.search)||[,null])[1]
    );
}
var token =  getURLParameter('token');
var sharedURL = "http://be-oi.be{% url 'home' %}?t=" + token;
$("#sharetoken").html(token);
$("#linktoshare").html(sharedURL);
$(".fb-like").attr("data-href",sharedURL);
$(".twitter-share-button").attr("data-url", sharedURL);

!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
</script>


{% endblock %}
