{% extends "base.html" %}
{% load i18n %}

{% block leftmenu %}{% include "menu_contest.html" %}{% endblock %}

{% block js %}
<script type="text/javascript">
$("#menu-contest").addClass("active");
$("#side-menu-registration").addClass("active");
</script>
{% endblock js %}

{% block title %}Inschrijven{% endblock %}
{% block subtitle %}Gratis, gemakkelijk, snel, en toch zoveel te winnen.{% endblock %}


{% block content%}

{% if not REGISTRATION_OPEN %}
<div class="alert alert-error">
 <p><strong>Belangrijk: De online inschrijvingen zijn officieel gesloten sinds maandag 25 november 23u59.
	Het onderstaande formulier blijft echter bruikbaar tot de datum van de halve finale (woensdag 27 november) voor laattijdige inschrijvingen.
	Voor zover er nog plaatsen zijn, zullen de regionale centra iedereen die zich aanbiedt op de dag van de halve finales toelaten om deel te nemen, ingeschreven of niet.	
	Als je dit formulier nog niet had ingevuld, zal je ter plaatse gevraagd worden om een gelijkaardig papieren formulier in te vullen.
	
	De enige beperking is dat we, om logistieke redenen, vragen om in te schrijven in een centrum van dezelfde taalrol als de taal waarin je wil deelnemen (uitgezonderd voor Brussel).
	Als je alsnog wil deelnemen vragen we je om toch zo snel mogelijk online te registreren, zodat wij het aantal deelnemers zo goed mogelijk kunnen inschatten.
</strong></p> 
</div> 
{% endif %}



<div class="alert alert-info">
<p>De wedstrijd is voorbehouden aan jongeren die ingeschreven zijn in het <strong>secundair onderwijs</strong>. Deelnemers moeten ofwel de <strong>Belgische nationaliteit</strong> hebben, of ingeschreven zijn in een <strong>school gevestigd in België</strong>. Deelnemers mogen de leeftijd van <strong>21 jaar niet bereikt hebben</strong> op de 1e juli van het jaar waarin de wedstrijd plaatsvindt. Door in te schrijven aanvaardt de deelnemer <a href="{% url 'rules' %}">het reglement</a>.</p>
</div>



{% if form.errors or global_errors  %}
<div class="alert alert-error">
    <p>
        Gelieve de fout{{ form.errors|pluralize:'en' }} hieronder te verbeteren.
    </p>
	{{ global_errors }} 
</div>
{% endif %}

<form action="" method="post" name="registrationform" class="form-horizontal"> {% csrf_token %}

  <div class="well">
   
    <div class="control-group {% if form.firstname.errors %}error{% endif %}">
      <label class="control-label" for="{{ form.firstname.html_name }}">{{ form.firstname.label }}</label>
      <div class="controls">
        <input type="text" id="{{ form.firstname.html_name }}" name="{{ form.firstname.html_name }}" value="{{ form.firstname.value|default_if_none:"" }}" class="input-large">
        <span class="help-inline">{{ form.firstname.errors|join:" " }}</span>
      </div>
    </div>

    <div class="control-group {% if form.surname.errors %}error{% endif %}">
      <label class="control-label" for="{{ form.surname.html_name }}">{{ form.surname.label }}</label>
      <div class="controls">
        <input type="text" id="{{ form.surname.html_name }}" name="{{ form.surname.html_name }}" value="{{ form.surname.value|default_if_none:"" }}" class="input-large">
        <span class="help-inline">{{ form.surname.errors|join:" " }}</span>
      </div>
    </div>

    <div class="control-group {% if form.dob.errors %}error{% endif %}">
      <label class="control-label" for="{{ form.dob.html_name }}">{{ form.dob.label }}</label>
      <div class="controls">
        <input type="text" id="{{ form.dob.html_name }}" name="{{ form.dob.html_name }}" value="{{ form.dob.value|default_if_none:"" }}" class="input-small" placeholder="dd/mm/yyyy">
        <span class="help-inline">{{ form.dob.errors|join:" " }}</span>
      </div>
    </div>

    <div class="control-group {% if form.gender.errors %}error{% endif %}">
      <label class="control-label" for="{{ form.gender.html_name }}">{{ form.gender.label }}</label>
      <div class="controls">
        <select class="input-small" name="{{ form.gender.html_name }}">
      	{% for choice in form.gender.field.choices %}
      	 <option value="{{ choice.0|add:0 }}" {% if form.gender.value|add:0 == choice.0|add:0 %}selected="selected"{% endif %}>{{ choice.1 }}</option>
  		  {% endfor %}
        </select>
        <span class="help-inline">{{ form.gender.errors|join:" " }}</span>
  	 </div>
    </div>

    <div class="control-group {% if form.postal_code.errors %}error{% endif %}">
      <label class="control-label" for="{{ form.postal_code.html_name }}">{{ form.postal_code.label }}, {{ form.city.label }}</label>
      <div class="controls controls-row">
        <input type="text" id="{{ form.postal_code.html_name }}" name="{{ form.postal_code.html_name }}" value="{{ form.postal_code.value|default_if_none:"" }}" class="input-mini" >
        <input type="text" id="{{ form.city.html_name }}" name="{{ form.city.html_name }}" value="{{ form.city.value|default_if_none:"" }}" class="input-large">
        <span class="help-inline">{{ form.postal_code.errors|join:" " }}</span>
        <span class="help-inline">{{ form.city.errors|join:" " }}</span>
      </div>
    </div>

    <div class="control-group {% if form.email.errors %}error{% endif %}">
      <label class="control-label" for="{{ form.email.html_name }}">{{ form.email.label }}</label>
      <div class="controls">
        <input type="text" id="{{ form.email.html_name }}" name="{{ form.email.html_name }}" value="{{ form.email.value|default_if_none:"" }}" class="input-large">
        <span class="help-inline">{{ form.email.errors|join:" " }} {{ form.email.help_text}}</span>
      </div>
    </div>

<!--     <div class="control-group {% if form.token.errors %}error{% endif %}">
      <label class="control-label" for="{{ form.token.html_name }}">{{ form.token.label }}</label>
      <div class="controls">
        <input type="text" id="{{ form.token.html_name }}" name="{{ form.token.html_name }}" value="{{ form.token.value|default_if_none:"" }}" class="input-small" >
        <span class="help-inline">{{ form.token.errors|join:" " }} {{ form.token.help_text}} (<a href="{% url 'referrals' %}">{% trans "More information on our sponsorship program" %}</a>.)</span> 
      </div>
    </div> -->

    <hr/>

    <div class="control-group {% if form.school_exists.error or form.school.errors %}error{% endif %}">
      <label class="control-label" for="{{ form.gender.html_name }}">{% trans "Current school" %}</label>
      <div class="controls">
        {% if form.school_exists.errors %}<span class="help-inline">{% trans "Selecting one option is mandatory." %}</span>{% endif %}

        <label for="id_school_exists_1" >
          <input id="id_school_exists_1" type="radio" name="school_exists" value="1" onchange="javascript:new_school_postal_code.disabled=(value==1); new_school_name.disabled=(value==1); new_school_city.disabled=(value==1); school.disabled=(value==0);"  {% if form.school_exists.data == "1" or not form.is_bound %}checked="checked" {% endif %}/> {% trans "My school is in this list"%} : <span class="help-inline">({% trans "ordered by post code" %})</span>
        </label>
        <select class="input-xlarge" name="{{ form.school.html_name }}" >
          {% for choice in form.school.field.choices %}
           <option value="{{ choice.0|add:0 }}" {% if form.gender.value|add:0 == choice.0|add:0 %}selected="selected"{% endif %} >{{ choice.1 }}</option>
          {% endfor %}
        </select>
        {% if form.school.errors %}<span class="help-inline">{{ form.school.errors|join:" " }}</span>{% endif %}
        <label style="padding-top:15px;" class="forminputlabel" for="id_school_exists_0"><input id="id_school_exists_0" type="radio" name="school_exists" value="0" onchange="javascript:new_school_postal_code.disabled=(value==1); new_school_name.disabled=(value==1); new_school_city.disabled=(value==1); school.disabled=(value==0);"  {% if form.school_exists.data == "0" %}checked="checked" {% endif %}/> {% trans "Otherwise, I add it" %} :</label>
    </div>
  </div>

  <div class="control-group {% if form.new_school_name.errors %}error{% endif %}">
    <label class="control-label" for="{{ form.new_school_name.html_name }}">{{ form.new_school_name.label }}</label>
    <div class="controls">
      <input type="text" id="{{ form.new_school_name.html_name }}" name="{{ form.new_school_name.html_name }}" value="{{ form.new_school_name.value|default_if_none:"" }}" class="input-xlarge">
      <span class="help-inline">{{ form.new_school_name.errors|join:" " }}</span>
    </div>
  </div>

  <div class="control-group {% if form.new_school_postal_code.errors %}error{% endif %}">
    <label class="control-label" for="{{ form.new_school_postal_code.html_name }}">{{ form.new_school_postal_code.label }}, {{ form.city.label }}</label>
    <div class="controls controls-row">
      <input type="text" id="{{ form.new_school_postal_code.html_name }}" name="{{ form.new_school_postal_code.html_name }}" value="{{ form.new_school_postal_code.value|default_if_none:"" }}" class="input-mini" >
      <input type="text" id="{{ form.new_school_city.html_name }}" name="{{ form.new_school_city.html_name }}" value="{{ form.new_school_city.value|default_if_none:"" }}" class="input-large">
      <span class="help-inline">{{ form.new_school_postal_code.errors|join:" " }}</span>
      <span class="help-inline">{{ form.new_school_city.errors|join:" " }}</span>
    </div>
  </div>

 {% if not form.is_bound %}<script type="text/javascript">document.registrationform.new_school_postal_code.disabled="disabled"; document.registrationform.new_school_name.disabled="disabled"; document.registrationform.new_school_city.disabled="disabled";</script>{% endif %}

  <hr />

 <div class="control-group {% if form.year_study.errors %}error{% endif %}">
    <label class="control-label" for="{{ form.year_study.html_name }}">{{ form.year_study.label }}</label>
    <div class="controls">
      <select class="input-medium" name="{{ form.year_study.html_name }}">
      {% for choice in form.year_study.field.choices %}
       <option value="{{ choice.0|add:0 }}" {% if form.year_study.value|add:0 == choice.0|add:0 %}selected="selected"{% endif %}>{{ choice.1 }}</option>
      {% endfor %}
      </select>
      <span class="help-inline">{{ form.year_study.errors|join:" " }}</span>
   </div>
  </div>

  <div class="control-group {% if form.language.errors %}error{% endif %}">
    <label class="control-label" for="{{ form.language.html_name }}">{{ form.language.label }}</label>
    <div class="controls">
      <select class="input-medium" name="{{ form.language.html_name }}">
      {% for choice in form.language.field.choices %}
       <option value="{{ choice.0|add:0 }}" {% if form.language.value|add:0 == choice.0|add:0 %}selected="selected"{% endif %}>{{ choice.1 }}</option>
      {% endfor %}
      </select>
      <span class="help-inline">{{ form.language.errors|join:" " }}</span>
   </div>
  </div>

  <div class="control-group {% if form.semifinal_center.errors %}error{% endif %}">
    <label class="control-label" for="{{ form.semifinal_center.html_name }}">{{ form.semifinal_center.label }}</label>
    <div class="controls">
      <select class="input-xlarge" name="{{ form.semifinal_center.html_name }}">
      {% for choice in form.semifinal_center.field.choices %}
       <option value="{{ choice.0|add:0 }}" {% if form.semifinal_center.value|add:0 == choice.0|add:0 %}selected="selected"{% endif %}>{{ choice.1 }}</option>
      {% endfor %}
      </select>
      <span class="help-inline">{{ form.semifinal_center.errors|join:" " }} {{ form.semifinal_center.help_text}}</span>
   </div>
  </div>

  <div class="form-actions">
    <button type="submit" class="btn btn-primary">{% trans "Register" %}</button>
  </div>
</form>

{% endblock %}

