{% extends "base.html" %}
{% load i18n %}

{% block leftmenu %}{% include "menu_contest.html" %}{% endblock %}

{% block js %}
<script type="text/javascript">
$("#menu-contest").addClass("active");
$("#side-menu-rules").addClass("active");
</script>
{% endblock js %}

{% block title %}Reglement{% endblock %}
{% block subtitle %}van de Belgische nationale wedstrijd{% endblock %}

{% block content%}
<ol>
	<li>De Belgische Informatica-olympiade (beOI) is een wedstrijd in programmeren, algoritmiek en logica, georganiseerd door de "<emph>Belgische Informatica-olympiade - Olympiade belge d’Informatique (beOI) vzw</emph>", hierna "de vereniging" genoemd. Deze vereniging bestaat voornamelijk uit onderwijzend personeel van de Universiteiten en Hogescholen in België. De vereniging beheert alle aspecten van de wedstrijd. </li>
	
	<li>Door hun inschrijving aanvaarden de kandidaten alle bepalingen van dit wedstrijdreglement.</li>

	<li>De officiële talen van de wedstrijd zijn het Nederlands en het Frans. De deelnemers moeten bij inschrijving de taal kiezen waarin ze aan de wedstrijd willen deelnemen.</li>

	<li>De wedstrijd is voorbehouden aan leerlingen die ingeschreven zijn in het secundair onderwijs in de maand september voorafgaand aan de wedstrijd. Zij moeten de Belgische nationaliteit bezitten of, indien dit niet het geval is, ingeschreven zijn in een school gevestigd in België. De kandidaten moeten eveneens minder dan 21 jaar zijn op de 1<sup>e</sup> juli van het jaar waarin de proef plaatsvindt. Bewijs van de leeftijd van de kandidaat en van de inschrijving in zijn of haar school kunnen (via email) opgevraagd worden door de organisatoren van de wedstrijd.</li>

	<li>De beOI verloopt in twee stappen: een halve finale en een finale. De data waarop de proeven plaatsvinden zijn op de on-line kalender gepubliceerd.</li>

	<li>Deelname aan de nationale wedstrijd, evenals eventuele deelname aan daaropvolgende gerelateerde evenementen en cursussen voor finalisten, is volledig gratis.</li>

	<li>De halve finale verloopt volledig op papier. Voor vragen waarin code moet geschreven worden, mag de deelnemer antwoorden in pseudo-code of in een van de volgende programmeertalen: C++, Java, C, Pascal, Python, PHP, (Visual) Basic of Javascript.</li>

	<li>De finale vindt plaats gedurende een hele dag. Ze bestaat enkel uit opdrachten die aan de computer moeten opgeloste worden, in de vorm van een programma geschreven in een van de volgende programmeertalen: C++ of Java. Bij het beoordelen wordt enkel rekening gehouden met de efficiëntie van de code en niet met de kwaliteit: d.w.z. de score wordt toegekend op basis van de tijd die het programma nodig heeft om steeds grotere problemen op te lossen.</li>

	<li>Tussen de halve finale en finale worden de geselecteerde finalisten opgevolgd met het doel zich zo goed mogelijk voor te bereiden op de finale. Deze opvolging omvat o.a. lessen in C++ of Java, algoritmiek, en oefeningen ter voorbereiding op programmeerwedstrijden. Finalisten worden ook online gecoacht, o.a. door hen te laten deelnemen aan online internationale programmeerwedstrijden. Met het oog op het vormen van de IOI-delegatie, kunnen sommige onderdelen van deze opvolging verplicht worden gemaakt.</li>

	<li>De vereniging is belast met het verbeteren van de antwoorden van de kandidaten, het maken van een rangschikking van de kandidaten, en het aanduiden van de laureaten.</li>

 	<li>Op de halve finale wordt een bonus toegekend aan deelnemers volgens hun studiejaar in het middelbaar onderwijs. Deze is als volgt bepaald: leerlingen uit het 5e middelbaar krijgen 5\%, leerlingen uit het 4e middelbaar 10\%, leerlingen uit het 3e middelbaar en lager 15\% bovenop hun eindresultaat.</li> 

	<li>Tussen de 20 en 30 best gerangschikte deelnemers aan de halve finale (inclusief de toegekende bonuspunten) worden geselecteerd om deel te nemen aan de finale, over alle regionale centra heen genomen. De lijst van finalisten wordt bepaald door de vereniging en wordt publiek gemaakt in de weken volgend op de halve finale.</li>

	<li>Volgend op de finale, wordt een eindklassement van de finalisten opgesteld volgens hun score in de finale. In het geval van een gelijk resultaat, wordt het uur waarop hun uiteindelijke score werd behaald gebruikt om de rangschikking te bepalen. Indien de wedstrijd uit meerdere delen bestaat, wordt de som van deze tijdstippen gebruikt.  De resultaten worden bekendgemaakt bij de proclamatie en online gepubliceerd. De best gerangschikte finalisten ontvangen prijzen.
	</li>	

	<li>Op basis van de finaleresultaten wordt de Belgische delegatie voor de volgende Internationale Olympiade Informatica samengesteld. De twee best gerangschikte Franstaligen en twee best gerangschikte Nederlandstaligen worden uitgenodigd, tijdens de proclamatie, om deel uit te maken van deze delegatie. In geval een van deze kandidaten weigert, kan deze vervangen worden door de eerstvolgende finalist van dezelfde taalgroep, volgens het eindklassement van de finale.</li>

	<li>Deelnemers aan de Internationale Olympiade Informatica (IOI) krijgen hun reiskosten vergoed door de vereniging. Voedsel, verblijf en activiteiten tijdens de Internationale Olympiade worden gedekt door de organisatoren van de IOI.</li>

	<li>Door hun inschrijving geven de kandidaten aan de vereniging het recht om foto's van de wedstrijd waarin zij afgebeeld worden te gebruiken. Dit gebruik zal zich beperken tot de promotie en de illustratie van de wedstrijd.</li>			
	
	<li>In alle gevallen niet voorzien in bovenstaand reglement wordt de beslissing genomen door de vereniging. Tegen deze beslissingen is geen beroep mogelijk.</li>

</ol>
{% endblock %}
